{% extends "oauth2_provider/base.html" %}
{% load i18n %}
{% block content %}
  <article>
    {% if not error %}
      <header>
        <h4>授权 {{ application.name }} 访问你的帐户吗？</h4>
      </header>
      <form id="authorizationForm" method="post">
        {% csrf_token %}
        {% if not application.is_official %}
          <p>
            <b>{{ application.name }}</b> 是由 <a href="{% url 'journal:user_profile' application.user.mastodon_username %}">{{ application.user.mastodon_username }}</a> 创建和维护的应用程序。
            {{ site_name }}无法保证其安全性和有效性，请自行验证确认后再授权。
          </p>
        {% endif %}
        {% if application.url %}应用网址: {{ application.url | urlize }}{% endif %}
        <p>{{ application.description_html|safe }}</p>
        {% for field in form %}
          {% if field.is_hidden %}{{ field }}{% endif %}
        {% endfor %}
        <p>授权后这个应用将能读写你帐户的全部数据。</p>
        {% comment %} <p>{% trans "Application requires the following permissions" %}</p>
        <ul>
          {% for scope in scopes_descriptions %}<li>{{ scope }}</li>{% endfor %}
        </ul> {% endcomment %}
        {{ form.errors }}
        {{ form.non_field_errors }}
        <footer>
          <div class="grid">
            <input type="submit" class="primary" name="allow" value="确认授权" />
            <input type="submit" class="secondary" value="取消" />
          </div>
        </footer>
      </form>
    {% else %}
      <h2>Error: {{ error.error }}</h2>
      <p>{{ error.description }}</p>
    {% endif %}
  </article>
{% endblock %}
