<footer class="footer">
  <div class="grid">
    <div class="footer__border">
      {% if social_link %}
        <a class="footer__link"
           target="_blank"
           rel="noopener"
           href="{{ social_link }}">关注我们</a>
      {% endif %}
      {% if support_link %}
        <a class="footer__link"
           target="_blank"
           rel="noopener"
           href="{{ support_link }}">问题反馈</a>
      {% endif %}
      <a class="footer__link"
         target="_blank"
         rel="noopener"
         href="https://github.com/neodb-social">源代码</a>
      {% if donation_link %}
        <a class="footer__link"
           target="_blank"
           rel="noopener"
           href="{{ donation_link }}">捐助本站</a>
      {% endif %}
      <a class="footer__link" href="{% url 'management:list' %}">公告栏</a>
      <a class="footer__link" href="{% url 'common:api_doc' %}">API</a>
    </div>
  </div>
</footer>
<div class="player"></div>
<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
  })
</script>
