.DS_Store
.env
.venv
.vscode
.github
.gitignore
.pre-commit-config.yaml
__pycache__
/compose.yml
/compose.override.yml
/Dockerfile
/doc
/media
/static
/test_data
/neodb
/neodb-takahe/doc
/neodb-takahe/docker
/neodb-takahe/static-collected
/neodb-takahe/takahe/local_settings.py
