.DS_Store
.env
.venv
.vscode
.github
.git
.gitignore
.pre-commit-config.yaml
__pycache__
/Dockerfile
/doc
/docker-compose.yml
/media
/static
/test_data
/neodb
/neodb-takahe/doc
/neodb-takahe/docker
/neodb-takahe/static-collected
/neodb-takahe/takahe/local_settings.py
