# NEODB Configuration

# copy along with compose.yml, rename this file to .env

# Change these before start the instance for the first time!!
NEODB_SECRET_KEY=change_me
NEODB_SITE_NAME=Example Site
NEODB_SITE_DOMAIN=example.site

# Change these to customize your site
NEODB_SITE_INTRO=/welcome.html
NEODB_SITE_LOGO=/logo.png
NEODB_SITE_ICON=/icon.png
NEODB_SITE_LINKS=@NiceDB=https://donotban.com/@testie,@NeoDB=https://mastodon.social/@neodb

# Uncomment these if you are doing development
# NEODB_DEBUG=True
# NEODB_IMAGE=neodb/neodb:edge

# HTTP port your reverse proxy should send request to
# NEODB_PORT=8000

# Path to store db/media/cache/etc, must be writable
# NEODB_DATA=/var/lib/neodb

# Users with these names will be promoted to admin during next boot/migration
# NEODB_ADMIN_USERNAMES = eggplant,aubergine

# Scaling parameters
# NEODB_WEB_WORKER_NUM=32
# TAKAHE_WEB_WORKER_NUM=32
# TAKAHE_STATOR_CONCURRENCY=10
# TAKAHE_STATOR_CONCURRENCY_PER_MODEL=10
