# NEODB Configuration

# copy along with docker-compose.yml, rename it to .env

# Change these before start the instance for the first time!!
NEODB_SECRET_KEY=change_me
NEODB_SITE_DOMAIN=example.site

# Change these too
NEODB_SITE_NAME=Example Site
NEODB_SITE_LOGO=/logo.png
NEODB_SITE_ICON=/icon.png

# HTTP port your reverse proxy should send request to
# NEODB_PORT=8000

# Path to store db/media/cache/etc, must be writable
# NEODB_DATA=/var/lib/neodb

# Users with these names will be promoted to admin during next boot/migration
# NEODB_ADMIN_USERNAMES = eggplant,aubergine

# Scaling parameters
# NEODB_WEB_WORKER_NUM=32
# TAKAHE_WEB_WORKER_NUM=32
# TAKAHE_STATOR_CONCURRENCY=10
# TAKAHE_STATOR_CONCURRENCY_PER_MODEL=10

# Turn on DEBUG mode, either set this to True or don't set it at all
# NEODB_DEBUG=True

# pull NeoDB Docker image from another tag/branch
# NEODB_IMAGE=neodb/neodb:latest
