blurhash-python
cachetools
dateparser
discord.py
django~=4.2.7
django-anymail
django-auditlog>=3.0.0-beta.3
django-bleach
django-compressor
django-cors-headers
django-environ
django-hijack
django-jsonform
django-maintenance-mode
django-markdownx
django-ninja
django-oauth-toolkit
django-polymorphic
django-redis
django-rq
django-sass-processor
django-simple-history  # no longer used but kept for migration code which is used by tests
django-slack
django-tz-detect
django-user-messages
dnspython
easy-thumbnails
filetype
gunicorn
httpx
igdb-api-v4
langdetect
libsass
listparser
loguru
lxml
markdownify
mistune
openpyxl
podcastparser
psycopg2-binary
requests
rq>=1.12.0
sentry-sdk
setproctitle
tqdm
typesense
urlman
validators
