dateparser
mistune>=3.0.0
rq>=1.12.0
django~=3.2.19
django-auditlog
django-markdownx @ git+https://github.com/alphatownsman/django-markdownx.git@e69480c64ad9c5d0499f4a8625da78cf2bb7691b
django-jsonform
libsass
django-compressor
django-sass-processor
django-rq
django-simple-history
django-hijack
django-user-messages
django-slack
django-ninja
django-polymorphic
django-maintenance-mode
django-tz-detect
django-bleach
django-redis
django-oauth-toolkit
meilisearch
easy-thumbnails
lxml
openpyxl
psycopg2-binary
requests
filetype
setproctitle
tqdm
opencc
dnspython
typesense
markdownify
igdb-api-v4
podcastparser
listparser
fontawesomefree~=6.4.0
discord.py
