{% load static %}
{% load i18n %}
{% load l10n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load thumb %}
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {% trans '权限不符' %}</title>
    {% include "common_libs.html" with jquery=0 v2=1 %}
  </head>
  <body>
    {% include "_header.html" %}
    <main class="container">
      <article class="error">
        <header>
          <h3>🤦🏻 权限不符</h3>
        </header>
        {{ exception }}
        您可能访问了错误的网址，或者相关内容已被作者删除。如果您确信这是我们的错误，请通过页面底部的链接联系我们。
      </article>
    </main>
    {% include "partial/_footer.html" %}
  </body>
</html>
