{% load static %}
{% load i18n %}
{% load l10n %}
{% load mastodon %}
{% load thumb %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - 404</title>
    <meta name="robots" content="noindex">
    {% include "common_libs.html" %}
  </head>
  <body>
    {% include "_header.html" %}
    <main class="container">
      <article class="error">
        <header>
          <h3>🤷🏻 {% trans "Something is missing" %}</h3>
        </header>
        {% blocktrans %}You may have visited an incorrect URL, or the content you are looking for has been deleted by the author.{% endblocktrans %}
        <br>
        {% blocktrans %}If you believe this is our mistake, please contact us through the link at the bottom of the page.{% endblocktrans %}
      </article>
    </main>
    {% include "_footer.html" %}
  </body>
</html>
