{% load static %}
{% load i18n %}
{% load l10n %}
{% load mastodon %}
{% load thumb %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - 500</title>
    <meta name="robots" content="noindex">
    {% include "common_libs.html" %}
  </head>
  <body>
    {% include "_header.html" %}
    <main class="container">
      <article class="error">
        <header>
          <h3>🤦🏻 My Bad</h3>
        </header>
        {% blocktrans %}An internal error occurred. If this error occurs repeatedly, it will be recorded and handled by a human.{% endblocktrans %}
        <br>
        {% blocktrans %}If you have an urgent situation or any questions, please contact us through the link at the bottom of the page.{% endblocktrans %}
      </article>
    </main>
    {% include "_footer.html" %}
  </body>
</html>
