<footer class="footer">
  <hr>
  <div class="grid">
    {% for link in site_links %}
      <a class="footer__link"
         target="_blank"
         rel="noopener"
         href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
    <a class="footer__link" href="{% url 'management:list' %}">公告栏</a>
    <a class="footer__link" href="{% url 'oauth2_provider:developer' %}">应用开发</a>
    <a class="footer__link"
       target="_blank"
       rel="noopener"
       href="https://github.com/neodb-social">源代码</a>
  </div>
</footer>
<div class="player"></div>
<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
  })
</script>
