{% load admin_url %}
{% load static %}
{% load i18n %}
<header class="container-fluid">
  <nav>
    <ul class="nav-logo">
      <a href="{% url 'common:home' %}">
        <img src="{% static 'img/logo.svg' %}" alt="" />
      </a>
    </ul>
    <ul class="nav-search {% if request.GET.q %}unhide{% endif %}">
      <li>
        <form role="search" method="get" action="{% url 'catalog:search' %}">
          <input type="search"
                 name="q"
                 id="q"
                 placeholder="搜索标题、创作者、ISBN、链接(如 https://movie.douban.com/subject/1297880/ )"
                 class="search"
                 value="{{ request.GET.q|default:'' }}" />
          <select name="c">
            <option value="all">全部</option>
            <option {% if request.GET.c and request.GET.c == 'book' or '/book/' in request.path %}selected{% endif %}
                    value="book">书籍</option>
            <option {% if request.GET.c and request.GET.c == 'movietv' or '/movie/' in request.path or '/tv/' in request.path %}selected{% endif %}
                    value="movietv">影视</option>
            <option {% if request.GET.c and request.GET.c == 'podcast' or '/podcast/' in request.path %}selected{% endif %}
                    value="podcast">播客</option>
            <option {% if request.GET.c and request.GET.c == 'music' or '/album/' in request.path %}selected{% endif %}
                    value="music">音乐</option>
            <option {% if request.GET.c and request.GET.c == 'game' or '/game/' in request.path %}selected{% endif %}
                    value="game">游戏</option>
            <option {% if request.GET.c and request.GET.c == 'performance' or '/performance/' in request.path %}selected{% endif %}
                    value="performance">演出</option>
          </select>
          <input type="submit" value="&#xf002;" class="fa-solid" />
        </form>
      </li>
    </ul>
    <ul>
      <li class="small-only">
        <a _="on click toggle .unhide on .nav-search then call #q.focus()">搜索</a>
      </li>
      <li>
        <a class="{% if current == 'discover' %}secondary{% endif %}"
           href="{% url 'catalog:discover' %}">发现</a>
      </li>
      <li>
        <a class="{% if current == 'timeline' %}secondary{% endif %}"
           href="{% url 'social:feed' %}">动态</a>
      </li>
      <li>
        <a class="{% if current == 'home' %}secondary{% endif %}"
           href="{% url 'common:me' %}">个人</a>
      </li>
    </ul>
    <ul class="nav-dropdown">
      <li>
        <details class="dropdown">
          <summary aria-haspopup="listbox">
            <span class="avatar">
              <img alt=""
                   src="{% if request.user.is_authenticated %}{{ request.user.avatar }}{% else %}{% static 'img/avatar.svg' %}{% endif %}" />
            </span>
          </summary>
          <ul role="listbox" style="min-width:-webkit-max-content;" dir="rtl">
            {% if request.user.is_authenticated %}
              <li>
                <a href="{% url 'users:data' %}">数据</a>
              </li>
              <li>
                <a href="{% url 'users:preferences' %}">设置</a>
              </li>
              <li>
                <a href="{% url 'users:info' %}">账号</a>
              </li>
              <li>
                <a href="{% url 'users:logout' %}">登出</a>
              </li>
              {% if request.user.is_superuser %}
                <li>
                  <a href="{% admin_url %}">后台</a>
                </li>
              {% endif %}
            {% else %}
              <li>
                <a href="{% url 'users:login' %}?next={{ request.path }}">登录</a>
              </li>
            {% endif %}
          </ul>
        </details>
      </li>
    </ul>
  </nav>
</header>
{% comment %}
  {% if request.user.is_authenticated and not request.user.username %}
<ul class="messages" style="text-align:center">
    <li class="error">
      请<a href="{% url 'users:info' %}">设置用户名</a>
    </li>
</ul>
  {% endif %}
{% endcomment %}
{% if messages %}
  <ul class="messages" style="text-align:center">
    {% for message in messages %}
      <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
