{% load static %}
{% load i18n %}
{% load mastodon %}
{% load thumb %}
{% load collection %}
{% load bleach_tags %}
<div class="grid__aside">
  <section>
    {% if site_intro %}
      <div hx-get="{{ site_intro }}" hx-trigger="load" hx-swap="outerHTML">
        <i class="fa-solid fa-compact-disc fa-spin loading"></i>
      </div>
    {% else %}
      <article>
        <h3>欢迎 🙋🏻‍♀️ 🙋🏻 🙋🏻‍♂️</h3>
        <p>
          <i class="fa-solid fa-puzzle-piece"></i> &nbsp; {{ site_name }}致力于提供一个涵盖书籍、影视、音乐、游戏、播客的自由开放互联的收藏评论空间。 你可以在这里记录你的收藏和想法，以及发现新的内容和朋友。
        </p>
        <p>
          <i class="fa-solid fa-globe"></i> &nbsp; 登录{{ site_name }}的最佳方式通过联邦宇宙（Fediverse，有时也被称为<em data-tooltip="除了最常见的长毛象，另外也有Pleroma、GoToSocial、Takahē、Catodon等联邦宇宙实例服务">长毛象</em>，一种分布式社交网络）实例账号，如果你还没有注册过，可先<a href="https://joinmastodon.org/zh/servers" target="_blank">选择实例并注册</a>。
        </p>
        <p>
          <i class="fa-solid fa-envelope"></i> &nbsp; 如果还没准备好注册联邦宇宙也没问题，你可以在登录页面选择电子邮件注册，未来再连接到联邦宇宙。
        </p>
        <p>
          <i class="fa-solid fa-circle-question"></i> &nbsp; 如果有任何问题或建议，欢迎通过<a href="https://mastodon.social/@neodb">联邦宇宙</a>或<a href="https://discord.gg/uprvcH8gqD">Discord</a>和我们联系。
        </p>
        <p>
          <i class="fa-solid fa-door-open"></i> &nbsp; <a href="{% url 'users:login' %}">点击这里</a>注册或登录。
        </p>
      </article>
    {% endif %}
  </section>
</div>
