<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/4.15.5/swagger-ui.min.css" integrity="sha512-JArlzA682ixxKlWoGxYQxF+vHv527K1/NMnGbMxZERWr/16D7ZlPZUdq9+n5cA3TM030G57bSXYdN706FU9doQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>{{ api.title }} API Documentation</title>
{% include "common_libs.html" with jquery=0 %}
<style type="text/css">
    .information-container {
        display: none;
    }
</style>
</head>
<body>
<div id="content-wrapper">
    {% include "partial/_navbar.html" %}

<div id="swagger-ui">
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/4.15.5/swagger-ui-bundle.min.js" integrity="sha512-8FFvTCXo6KgUt72SMpgMgMHoHnNUOPxndku0/mc+B98qIeEfZ6dpPDYJv6a1TRWHoEZeMQAKQzcwSmQixM9v2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    const ui = SwaggerUIBundle({
        url: '{{ openapi_json_url }}',
        dom_id: '#swagger-ui',
        presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIBundle.SwaggerUIStandalonePreset
        ],
        layout: "BaseLayout",
    {% if api.csrf and csrf_token %}
        requestInterceptor: (req) => {
			req.headers['X-CSRFToken'] = "{{csrf_token}}"
			return req;
		},
    {% endif %}
        deepLinking: true
    })
</script>
</div>
</body>
</html>
