{% load static %}
{% load sass_tags %}
{% load tz_detect %}
{% if request.user.is_authenticated %}
  {% tz_detect %}
{% endif %}
<script src="{{ cdn_url }}/npm/cash-dom@8.1.5/dist/cash.min.js"></script>
<script type="text/javascript">
  if (!$.fn.is_visible) $.fn.is_visible = function () {
    return this.filter((_, elt) => (elt.offsetWidth || elt.offsetHeight || elt.getClientRects().length)).length > 0;
  };
  if (!$.fn.submit) $.fn.submit = function () {
    this.each(function () {
      $(this).trigger('submit');
      this.submit();
    });
    return this;
  };
</script>
<script src="{{ cdn_url }}/npm/htmx.org@2.0.4/dist/htmx.min.js"></script>
<script src="{{ cdn_url }}/npm/hyperscript.org@0.9.13"></script>
<link rel="stylesheet"
      href="{{ cdn_url }}/npm/@yohns/picocss@2.2.1/css/pico.min.css" />
<link href="{% sass_src 'scss/neodb.scss' %}"
      rel="stylesheet"
      type="text/css" />
<link href="{{ cdn_url }}/npm/@fortawesome/fontawesome-free@6.5.2/css/all.min.css"
      rel="stylesheet"
      type="text/css">
<link rel="search"
      type="application/opensearchdescription+xml"
      title="{{ site_name }}"
      href="{% static 'opensearch.xml' %}">
<script defer>
(function(){
  const s = localStorage.getItem("user_style");
  if (s) {
    const style = document.createElement("style");
    style.innerHTML = s;
    document.head.appendChild(style);
  }
  const solo = localStorage.getItem("solo_mode")=="1";
  if (solo) {
    const style = document.createElement("style");
    style.innerHTML = ".solo-hidden {display: none;}";
    document.head.appendChild(style);
  }
  $('html').attr('data-theme', localStorage.getItem("theme_color")||null)
})();
</script>
<link rel="icon" href="{{ site_icon }}">
<link rel="apple-touch-icon" href="{{ site_icon }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="{{ site_name }}">
{% if request.META.HTTP_HOST == site_domain %}
  <style type="text/css">.hide_unless_alter_domain{display:none;}</style>
{% else %}
  <meta name="robots" content="noindex">
{% endif %}
{{ site_head|safe }}
