{% load static %}
{% load i18n %}
{% load l10n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load thumb %}
<!DOCTYPE html>
<html lang="zh" class="feed-page">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {% trans '动态' %}</title>
    {% include "common_libs.html" %}
    <script src="{{ cdn_url }}/npm/shikwasa@2.2.1/dist/shikwasa.min.js"></script>
    <link href="{{ cdn_url }}/npm/shikwasa@2.2.1/dist/style.min.css"
          rel="stylesheet"></link>
  <script src="{% static 'js/podcast.js' %}"></script>
</head>
<body>
  {% include "_header.html" with current="timeline" %}
  <main>
    <div class="grid__main">
      <h5>好友动态</h5>
      <div class="feed">
        <div hx-get="{% url 'social:data' %}"
             hx-trigger="intersect once delay:0.1s"
             hx-swap="outerHTML">
          <i class="fa-solid fa-compact-disc fa-spin loading"></i>
        </div>
      </div>
    </div>
    {% include "_sidebar.html" with show_progress=1 identity=request.user.identity %}
  </main>
  {% include "_footer.html" %}
</body>
</html>
