{% load static %}
{% load i18n %}
{% load l10n %}
{% load mastodon %}
{% load thumb %}
<!DOCTYPE html>
<html lang="zh" class="feed-page nav-page-feed">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {% trans 'Activities from those you follow' %}</title>
    {% include "common_libs.html" %}
    <script src="{{ cdn_url }}/npm/shikwasa@2.2.1/dist/shikwasa.min.js"></script>
    <link href="{{ cdn_url }}/npm/shikwasa@2.2.1/dist/style.min.css"
          rel="stylesheet"></link>
  <script src="{% static 'js/podcast.js' %}"></script>
</head>
<body>
  {% include "_header.html" %}
  <main>
    <div class="grid__main">
      <h5>
        {% trans 'Activities from those you follow' %}
        <small>
          {% if feed_type == 1 %}
            <a href="{% url 'social:feed' %}">{% trans "All" %}</a> | {% trans "What they read/watch/..." %}
          {% else %}
            {% trans "All" %} | <a href="{% url 'social:focus' %}">{% trans "What they read/watch/..." %}</a>
          {% endif %}
          | <a href="{% url 'social:notification' %}">{% trans "Notifications" %}</a>
        </small>
      </h5>
      <div class="feed">
        <div hx-get="{% url 'social:data' %}?typ={{ feed_type }}"
             hx-trigger="intersect once delay:0.1s"
             hx-swap="outerHTML">
          <i class="fa-solid fa-compact-disc fa-spin loading"></i>
        </div>
      </div>
    </div>
    {% include "_sidebar.html" with show_progress=1 identity=request.user.identity %}
  </main>
  {% include "_footer.html" %}
</body>
</html>
