{% load static %}
{% load i18n %}
{% load l10n %}
{% load mastodon %}
{% load thumb %}
<!DOCTYPE html>
<html lang="zh" class="feed-page">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {% trans 'Notification' %}</title>
    {% include "common_libs.html" %}
    <script src="{{ cdn_url }}/npm/shikwasa@2.2.1/dist/shikwasa.min.js"></script>
    <link href="{{ cdn_url }}/npm/shikwasa@2.2.1/dist/style.min.css"
          rel="stylesheet"></link>
  <script src="{% static 'js/podcast.js' %}"></script>
</head>
<body>
  {% include "_header.html" with current="timeline" %}
  <main>
    <div class="grid__main">
      <h5>
        {% trans 'Notification' %}
        <small>
          <a class="{% if not request.GET.type %}secondary{% endif %}"
             href="{% url 'social:notification' %}">{% trans 'all' %}</a> |
          <a class="{% if request.GET.type == 'mention' %}secondary{% endif %}"
             href="{% url 'social:notification' %}?type=mention">{% trans 'mention' %}</a> |
          <a class="{% if request.GET.type == 'follow' %}secondary{% endif %}"
             href="{% url 'social:notification' %}?type=follow">{% trans 'follow' %}</a>
        </small>
      </h5>
      <div class="feed">
        <div hx-get="{% url 'social:events' %}?type={{ request.GET.type }}"
             hx-trigger="intersect once delay:0.1s"
             hx-swap="outerHTML">
          <i class="fa-solid fa-compact-disc fa-spin loading"></i>
        </div>
      </div>
    </div>
    {% include "_sidebar.html" with show_progress=1 identity=request.user.identity %}
  </main>
  {% include "_footer.html" %}
</body>
</html>
