{% if identity.user.mastodon %}
  <span>
    <a href="{{ identity.user.mastodon.url }}"
       target="_blank"
       rel="noopener"
       title="@{{ identity.user.mastodon.handle }}">
      <i class="fa-brands fa-mastodon"></i>
    </a>
  </span>
{% endif %}
{% if identity.user.threads %}
  <span>
    <a href="{{ identity.user.threads.url }}"
       target="_blank"
       rel="noopener"
       title="@{{ identity.user.threads.handle }}">
      <i class="fa-brands fa-threads"></i>
    </a>
  </span>
{% endif %}
{% if identity.user.bluesky %}
  <span>
    <a href="{{ identity.user.bluesky.url }}"
       target="_blank"
       rel="noopener"
       title="@{{ identity.user.bluesky.handle }}">
      <i class="fa-brands fa-bluesky"></i>
    </a>
  </span>
{% endif %}
