{% load static %}
{% load i18n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load thumb %}
<!DOCTYPE html>
<html lang="zh" class="classic-page">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - 数据管理</title>
    {% include "common_libs.html" with jquery=0 v2=1 %}
  </head>
  <body>
    {% include "_header.html" with current="data" %}
    <main>
      <div class="grid__main">
        <article>
          <details>
            <summary>{% trans '导入豆瓣标记和评论' %}</summary>
            <form action="{% url 'users:import_douban' %}"
                  method="post"
                  enctype="multipart/form-data">
              {% csrf_token %}
              在<a href="https://doufen.org" target="_blank" rel="noopener">豆伴(豆坟)</a>导出时勾选<mark>书影音游剧</mark>和<mark>评论</mark>。
              <br>
              选择从豆伴(豆坟)导出的<code>.xlsx</code>文件:
              <input type="file" name="file" id="excel" required accept=".xlsx">
              <fieldset>
                <legend>导入方式</legend>
                <label for="import_mode_0">
                  <input id="import_mode_0" type="radio" name="import_mode" value="0" checked>
                  自动合并：仅更新正向变化(未标->想读->在读->已读)标记，不更新其它标记和现有评论（推荐）
                </label>
                <label for="import_mode_1">
                  <input id="import_mode_1" type="radio" name="import_mode" value="1">
                  强制覆盖：覆盖已存在的标记和评论，导入文件中未涉及的条目标记和评论不会被改动。
                </label>
              </fieldset>
              <p>
                可见性:
                <br>
                <label for="id_visibility_0">
                  <input type="radio"
                         name="visibility"
                         value="0"
                         required=""
                         id="id_visibility_0"
                         checked>
                  公开
                </label>
                <label for="id_visibility_1">
                  <input type="radio"
                         name="visibility"
                         value="1"
                         required=""
                         id="id_visibility_1">
                  仅关注者
                </label>
                <label for="id_visibility_2">
                  <input type="radio"
                         name="visibility"
                         value="2"
                         required=""
                         id="id_visibility_2">
                  仅自己
                </label>
              </p>
              <input type="submit"
                     {% if import_status.douban_pending %} onclick="return confirm('短期重复上传可能有无法预期的效果，确定现在上传导入吗？')" value="{% trans '备份文件已上传，请等待导入完成或刷新页面查看最新进度' %}" {% else %} value="{% trans '导入' %}" {% endif %} />
            </form>
            <div hx-get="{% url 'users:import_status' %}"
                 hx-trigger="load delay:1s"
                 hx-swap="outerHTML"></div>
          </details>
        </article>
        <article>
          <details>
            <summary>{% trans '导入Goodreads账号或书单' %}</summary>
            <form action="{% url 'users:import_goodreads' %}" method="post">
              {% csrf_token %}
              <div>
                输入Goodreads链接
                <input type="url"
                       name="url"
                       value=""
                       placeholder="例如 https://www.goodreads.com/user/show/12345-janedoe"
                       required>
                <input type="submit"  value="{% trans '导入' %}" />
              </div>
              <ul>
                <li>
                  Goodreads用户主页链接形如 <code>https://www.goodreads.com/user/show/12345-janedoe</code> 将自动导入到当前用户的想读、在读、已读列表，每本书的评论导入为本站短评；
                </li>
                <li>
                  Goodreads书单链接形如 <code>https://www.goodreads.com/review/list/12345-janedoe?shelf=name</code> 或 <code>https://www.goodreads.com/list/show/155086.Popular_Highlights</code> 将自动导入成为收藏单，每本书的评论导入为收藏单条目备注。
                </li>
                <li>
                  欲导入的Goodreads用户需将<mark>Who Can View My Profile</mark>设置为<mark>anyone</mark>，导入后可改回原设置。
                </li>
              </ul>
            </form>
          </details>
        </article>
        <article>
          <details>
            <summary>{% trans '导入播客订阅列表' %}</summary>
            <form action="{% url 'users:import_opml' %}"
                  method="post"
                  enctype="multipart/form-data">
              {% csrf_token %}
              <div>
                导入方式：
                <label for="opml_import_mode_0">
                  <input id="opml_import_mode_0"
                         type="radio"
                         name="import_mode"
                         value="0"
                         checked>
                  标记为在听的播客
                </label>
                <label for="opml_import_mode_1">
                  <input id="opml_import_mode_1" type="radio" name="import_mode" value="1">
                  导入为新收藏单
                </label>
                <br>
                选择OPML文件
                <input type="file" name="file" id="excel" required accept=".opml,.xml">
                <input type="submit"  value="{% trans '导入' %}" />
              </div>
            </form>
          </details>
        </article>
        <article>
          <details>
            <summary>{% trans '导出个人数据' %}</summary>
            <form action="{% url 'users:export_marks' %}"
                  method="post"
                  enctype="multipart/form-data">
              {% csrf_token %}
              <input type="submit"
                     {% if export_status.marks_pending %} value="{% trans '正在导出标记、短评和评论' %}" onclick="return confirm('短期重复导出可能有无法预期的效果，确定现在导出吗？')" {% else %} value="{% trans '导出标记、短评和评论' %}" {% endif %} />
              {% if export_status.marks_file %}
                <a href="{% url 'users:export_marks' %}" download>下载 {{ export_status.marks_date }} 的导出</a>
              {% endif %}
            </form>
          </details>
        </article>
        <article>
          <details>
            <summary>{% trans '重置所有标记和短评可见性' %}</summary>
            <form action="{% url 'users:reset_visibility' %}" method="post">
              {% csrf_token %}
              <input type="submit"  value="{% trans '重置' %}" />
              <div>
                <input type="radio" name="visibility" id="visPublic" value="0" checked>
                <label for="visPublic">{% trans '公开' %}</label>
                <input type="radio" name="visibility" id="visFollower" value="1">
                <label for="visFollower">{% trans '仅关注者' %}</label>
                <input type="radio" name="visibility" id="visSelf" value="2">
                <label for="visSelf">{% trans '仅自己' %}</label>
              </div>
            </form>
          </details>
        </article>
      </div>
      {% include "_sidebar.html" with show_profile=1 identity=request.user.identity %}
    </main>
    {% include "_footer.html" %}
  </body>
</html>
