{% load i18n %}
{% trans 'Last import started' %}: {{ import_task.created_time }}
{% trans 'Status' %}: {{ import_task.get_state_display }}。
{% if import_task.metadata.total %}
  <br>
  <progress value="{{ import_task.metadata.processed }}"
            max="{{ import_task.metadata.total }}"></progress>
  共{{ import_task.metadata.total }}篇，已处理{{ import_task.metadata.processed }}篇，其中已存在{{ import_task.metadata.skipped }}篇，新增{{ import_task.metadata.imported }}篇
  <br>
  {% if import_task.metadata.failed_urls %}
    {% trans 'Failed links, you may have to mark them manually' %}
    <br>
    <textarea readonly>{% for url in import_task.metadata.failed_urls %}{{url}}&#10;{% endfor %}</textarea>
  {% endif %}
{% endif %}
