{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="zh" class="login-page">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ site_name }} - 分布式书影音播客游戏收藏评论交流社区">
    <meta name="description"
          property="og:description"
          content="{{ site_description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site_url }}">
    <meta property="og:image" content="{{ site_logo }}">
    <meta property="og:site_name" content="{{ site_name }}">
    <title>{{ site_name }} - {% trans '登录' %}</title>
    {% include "common_libs.html" %}
    <script src="{{ cdn_url }}/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
    <script src="{{ cdn_url }}/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script>
    $(document).ready(function () {
      if (!window.htmx || !window._hyperscript) return; // disable login if cash, htmx or hyperscript not loaded
      $('.delayed').remove(); $('#loginButton').prop("disabled", false);
    });
    </script>
    <style type="text/css">
    .delayed {
      animation: 10s _fadeIn;
      animation-fill-mode: forwards;
      visibility: hidden;
    }
    @keyframes _fadeIn {
      99% {
        visibility: hidden;
      }
      100% {
        visibility: visible;
        opacity: 1;
      }
    }
    </style>
  </head>
  <body>
    <article>
      <header style="text-align: center;">
        <img src="{{ site_logo }}" class="logo" alt="logo">
      </header>
      <div>
        {% if request.user.is_authenticated %}
          <a href="{{ request.session.next_url | default:'/' }}" class="button">{% trans '前往首页' %}</a>
        {% else %}
          <form action="{% url 'users:connect' %}" method="post">
            {% csrf_token %}
            {% if allow_any_site %}
              <input required
                     name="email"
                     id="email"
                     type="email"
                     placeholder="电子邮件地址"
                     disabled
                     autocomplete="email"
                     style="display:none" />
              <input required
                     name="domain"
                     id="domain"
                     autofocus
                     pattern="(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,})"
                     title="实例域名(不含@和@之前的部分)，如mastodon.social"
                     placeholder="实例域名(不含@和@之前的部分)，如mastodon.social"
                     autocorrect="off"
                     autocapitalize="off"
                     spellcheck="false" />
              <div role="group" style="width:100%">
                <select style="width:max-content"
                        required
                        onchange="switch_login()"
                        name="method">
                  <option disabled value="">选择登录方式</option>
                  <option selected value="fedi">联邦宇宙授权</option>
                  <option value="email">电子邮件验证</option>
                </select>
                <input style="width:100%"
                       type='submit'
                       value="{% trans '登录/注册' %}"
                       id="loginButton"
                       disabled />
              </div>
              {{ sites|json_script:"sites-data" }}
              <script>
              function switch_login(){
                if ($('select').val() == 'email') {
                  $('#domain').prop("disabled", true);
                  $('#domain').hide();
                  $('#email').prop("disabled", false);
                  $('#email').show();
                  $('#email')[0].focus();
                  //$('#domain').val('');
                  $('#fedi-tips').hide();
                  $('#email-tips').show();
                } else {
                  $('#email').prop("disabled", true);
                  $('#email').hide();
                  $('#domain').prop("disabled", false);
                  $('#domain').show();
                  $('#domain')[0].focus();
                  //$('#email').val('');
                  $('#fedi-tips').show();
                  $('#email-tips').hide();
                }
              }
              const sites = JSON.parse(document.getElementById('sites-data').textContent);
              const autoCompleteJS = new autoComplete({ placeHolder: "输入或选择实例域名(不含@和@之前的部分)",
                selector: "#domain",
                data: {
                    src: sites
                },
                submit: true,
                resultsList: {
                  tabSelect: true,
                  maxResults: 10
                },
                events: {
                  input: {
                    selection: (event) => {
                      const selection = event.detail.selection.value;
                      autoCompleteJS.input.value = selection;
                    }
                  }
                }
              });
              var d = Cookies.get('mastodon_domain');
              if (d) {
                if (d == "@") {
                  $('select').val('email');
                  switch_login()
                } else {
                  $('#domain').val(Cookies.get('mastodon_domain'));
                }
              }
              </script>
            {% else %}
              <select name="domain">
                {% for site in sites %}<option value="{{ site }}">@{{ site }}</option>{% endfor %}
              </select>
              <input type='submit' value="{% trans '授权登录' %}" id="loginButton" />
            {% endif %}
            {% if invite_status %}
              <small>
                {% if invite_status == 1 %}
                  <i class="fa-solid fa-circle-check"></i> 邀请链接有效，可注册新用户
                {% elif invite_status == -1 %}
                  <i class="fa-solid fa-person-circle-question"></i> 本站目前为邀请注册，已有账户可直接登入，新用户请使用有效邀请链接注册
                {% elif invite_status == -2 %}
                  <i class="fa-solid fa-circle-xmark"></i> 邀请链接无效，已有账户可直接登入，新用户请使用有效邀请链接注册
                {% endif %}
              </small>
            {% endif %}
            <small id="fedi-tips">如不便或尚未<a href="https://joinmastodon.org/zh/servers" target="_blank">注册联邦宇宙</a>，也可以在上方选择「电子邮件验证」注册登录本站。</small>
            <small id="email-tips" style="display:none;">现有用户通过联邦宇宙登录后关联电子邮件地址，即可通过邮件登录本站；如不便使用联邦宇宙，也可在此输入邮件地址注册账号，未来再关联到联邦宇宙。</small>
          </form>
        {% endif %}
        <small class="hide_unless_alter_domain">
          <br>
          这是{{ site_name }}的临时镜像，请尽可能使用<a href="{{ site_url }}{{ request.get_full_path }}">原始站点</a>。
        </small>
        <div class="delayed">部分模块加载超时，请检查网络（翻墙）设置。</div>
      </div>
    </article>
    <footer>
      <br>
      <small>继续访问或注册视为同意本站<a href="{% url 'management:retrieve_slug' 'data-policy' %}">数据方针</a>及使用cookie提供必要功能</small>
    </footer>
  </body>
</html>
