{% load static %}
{% load i18n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {% trans '管理投诉' %}</title>
    {% include "common_libs.html" %}
  </head>
  <body>
    {% include "_header.html" %}
    <main class="container">
      {% for report in reports %}
        <article>
          <header>
            <a href="{{ report.submit_user.url }}">{{ report.submit_user.display_name }}</a>
            {% trans '投诉了' %}
            <a href="{{ report.reported_user.url }}">{{ report.reported_user.display_name }}</a>
            @{{ report.submitted_time }}
          </header>
          <p>{{ report.message }}</p>
          {% if report.image %}<img src="{{ report.image.url }}" alt="" style="max-height: 80vh;">{% endif %}
        </article>
      {% endfor %}
    </main>
    {% include "_footer.html" %}
  </body>
</html>
