{% load static %}
{% load i18n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load duration %}
{% load thumb %}
<!DOCTYPE html>
<html lang="zh" class="classic-page">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - 设置</title>
    {% include "common_libs.html" %}
  </head>
  <body>
    {% include "_header.html" with current="data" %}
    <main>
      <div class="grid__main">
        <article>
          <details open>
            <summary>
              <b>{% trans '使用偏好' %}</b>
            </summary>
            <form action="{% url 'users:preferences' %}" method="post">
              {% csrf_token %}
              <fieldset>
                {% trans '登录后显示：' %}
                <input type="radio"
                       name="classic_homepage"
                       value="0"
                       id="classic_homepage0"
                       {% if request.user.preference.classic_homepage == 0 %}checked{% endif %}>
                <label for="classic_homepage0">内容发现</label>
                <input type="radio"
                       name="classic_homepage"
                       value="2"
                       id="classic_homepage2"
                       {% if request.user.preference.classic_homepage == 2 %}checked{% endif %}>
                <label for="classic_homepage2">好友动态</label>
                <input type="radio"
                       name="classic_homepage"
                       value="1"
                       id="classic_homepage1"
                       {% if request.user.preference.classic_homepage == 1 %}checked{% endif %}>
                <label for="classic_homepage1">个人主页</label>
              </fieldset>
              <fieldset>
                {% trans '发表时的默认可见性：' %}
                <input type="radio"
                       name="default_visibility"
                       value="0"
                       required=""
                       id="id_visibility_0"
                       {% if request.user.preference.default_visibility == 0 %}checked{% endif %}>
                <label for="id_visibility_0">公开</label>
                <input type="radio"
                       name="default_visibility"
                       value="1"
                       required=""
                       id="id_visibility_1"
                       {% if request.user.preference.default_visibility == 1 %}checked{% endif %}>
                <label for="id_visibility_1">仅关注者</label>
                <input type="radio"
                       name="default_visibility"
                       value="2"
                       required=""
                       id="id_visibility_2"
                       {% if request.user.preference.default_visibility == 2 %}checked{% endif %}>
                <label for="id_visibility_2">仅本人和被提及的用户</label>
              </fieldset>
              <fieldset>
                可见性选择「公开」时以如下方式发布到联邦网络：
                <input type="radio"
                       id="post_public_mode_0"
                       name="post_public_mode"
                       value="0"
                       {% if request.user.preference.post_public_mode == 0 %}checked{% endif %} />
                <label for="post_public_mode_0">Public</label>
                <input type="radio"
                       id="post_public_mode_1"
                       name="post_public_mode"
                       value="1"
                       {% if request.user.preference.post_public_mode == 1 %}checked{% endif %} />
                <label for="post_public_mode_1">
                  Unlisted
                  <em data-tooltip="unlisted帖子不会出现在本站和外站公共时间轴"><i class="fa fa-question-circle"></i></em>
                </label>
                {% if enable_local_only %}
                  <input type="radio"
                         id="post_public_mode_4"
                         name="post_public_mode"
                         value="4"
                         {% if request.user.preference.post_public_mode == 4 %}checked{% endif %} />
                  <label for="post_public_mode_4">仅本站</label>
                {% endif %}
              </fieldset>
              {% if request.user.mastodon_acct %}
                <fieldset>
                  转发到<em data-tooltip="@{{ request.user.mastodon_acct }}">主ID</em>时间轴时：
                  <input type="radio"
                         name="mastodon_repost_mode"
                         value="0"
                         required=""
                         id="mastodon_repost_mode_0"
                         {% if request.user.preference.mastodon_repost_mode == 0 %}checked{% endif %}>
                  <label for="mastodon_repost_mode_0">使用转播（boost）</label>
                  <input type="radio"
                         name="mastodon_repost_mode"
                         value="1"
                         required=""
                         id="mastodon_repost_mode_1"
                         {% if request.user.preference.mastodon_repost_mode == 1 %}checked{% endif %}>
                  <label for="mastodon_repost_mode_1">
                    另发新帖文
                    <em data-tooltip="删改标记可能产生重复帖文，其他人对新帖的回应、点赞不会被记录"><i class="fa fa-question-circle"></i></em>
                  </label>
                </fieldset>
                <fieldset>
                  <label>
                    发表时默认选中 转发到<em data-tooltip="@{{ request.user.mastodon_acct }}">主ID</em>时间轴
                    <input type="checkbox"
                           name="mastodon_default_repost"
                           value="1"
                           {% if request.user.preference.mastodon_default_repost %}checked{% endif %}>
                  </label>
                </fieldset>
              {% endif %}
              <fieldset>
                <label for="mastodon_append_tag">{% trans '发表标记时在结尾附加标签：' %}</label>
                <input name="mastodon_append_tag"
                       id="mastodon_append_tag"
                       placeholder="例如 #我的书影音"
                       value="{{ request.user.preference.mastodon_append_tag }}">
              </fieldset>
              <fieldset>
                {% all_languages as languages %}
                <label>{% trans 'language' %}</label>
                <select name="language">
                  {% for lang in languages %}
                    <option value="{{ lang.0 }}"
                            {% if lang.0 == request.user.language %}selected{% endif %}>{{ lang.1 }}</option>
                  {% endfor %}
                </select>
              </fieldset>
              <fieldset>
                <legend>{% trans '搜索时不显示以下类型：' %}</legend>
                <select name="hidden_categories" size="3" multiple>
                  {% all_categories as categories %}
                  {% for c in categories %}
                    <option value="{{ c.value }}"
                            {% if c in request.user.preference.hidden_categories %}selected{% endif %}>
                      {{ c.label }}
                    </option>
                  {% endfor %}
                </select>
              </fieldset>
              <fieldset>
                <label>
                  <input type="checkbox"
                         name="anonymous_viewable"
                         {% if request.user.identity.anonymous_viewable %}checked{% endif %}>
                  {% trans '匿名访客和搜索引擎可以查看你的个人主页' %}
                  <em data-tooltip="此选项仅针对网页访客，如果不希望被联邦网络用户看到请在发表时选择仅关注者或本人"><i class="fa fa-question-circle"></i></em>
                </label>
              </fieldset>
              <fieldset>
                <label>
                  <input type="checkbox"
                         name="show_last_edit"
                         {% if request.user.preference.show_last_edit %}checked{% endif %}>
                  {% trans '显示你是某条目的最近编辑者' %}
                </label>
              </fieldset>
              <input type="submit" value="{% trans '保存' %}">
            </form>
          </details>
        </article>
        <article>
          <details>
            <summary>{% trans '当前设备设置' %}</summary>
            <form onsubmit="return false;">
              <h6>明暗风格</h6>
              <p>
                <input type="radio" name="theme_color" id="theme_auto" value="">
                <label for="theme_auto">系统</label>
                <input type="radio" name="theme_color" id="theme_light" value="light">
                <label for="theme_light">明亮</label>
                <input type="radio" name="theme_color" id="theme_dark" value="dark">
                <label for="theme_dark">暗色</label>
              </p>
              <h6>专注模式</h6>
              <p>
                <input type="checkbox" id="solo_mode">
                <label for="solo_mode">启用专注模式后搜索和条目页面将不再显示来自他人的评价和打分</label>
              </p>
              <h6>自定义样式代码 (实验功能)</h6>
              <textarea id="user_style"></textarea>
              <br>
              <input type="button" onclick="save_local();" value="保存">
            </form>
          </details>
          <script>
            var _c=$('html').attr('data-theme')||null;
            if (_c=="light") $('input[id=theme_light]').prop('checked', true);
            if (_c=="dark") $('input[id=theme_dark]').prop('checked', true);
            if (!_c) $('input[id=theme_auto]').prop('checked', true);
            $("#user_style").val(localStorage.getItem("user_style")||"");
            $("#solo_mode").prop("checked", localStorage.getItem("solo_mode")=="1");
            function save_local() {
              var _c=$('input[name=theme_color]:checked').val();
              if (_c=="") _c=null;
              $('html').attr('data-theme', _c);
              localStorage.setItem("theme_color", _c);
              localStorage.setItem("user_style", $("#user_style").val());
              localStorage.setItem("solo_mode", $("#solo_mode").prop("checked")?"1":"0");
              alert("当前设备设置已保存");
            }
          </script>
        </article>
        <article>
          <details>
            <summary>{% trans '应用管理' %}</summary>
            <p>
              <a href="{% url 'oauth2_provider:authorized-token-list' %}">查看已授权的应用程序</a>
            </p>
          </details>
        </article>
      </div>
      {% include "_sidebar.html" with show_profile=1 identity=request.user.identity %}
    </main>
    {% include "_footer.html" %}
  </body>
</html>
