{% load mastodon %}
{% current_user_relationship identity as relationship %}
{% if relationship.rejecting %}
  <span class="tag-list">
    <span><a title="点击可取消屏蔽"
   hx-confirm="确定要取消对该用户的屏蔽吗？"
   hx-post="{% url 'users:unblock' identity.handle %}"
   hx-target="closest .action"
   hx-swap="innerHTML">已屏蔽</a></span>
  </span>
{% else %}
  {% if relationship.status %}
    <span class="tag-list">
      <span><a>{{ relationship.status }}</a></span>
    </span>
  {% else %}
    <span style="padding-bottom:1em;display:inline-block">&nbsp;</span>
  {% endif %}
  {% if show_home %}
    <span>
      <a title="用户主页" href="{{ identity.url }}">
        <i class="fa-solid fa-home"></i>
      </a>
    </span>
  {% endif %}
  {% if not identity.local %}
    <span>
      <a href="{{ identity.profile_uri }}"
         target="_blank"
         rel="noopener"
         title="用户原始主页">
        <i class="fa-solid fa-circle-nodes"></i>
      </a>
    </span>
  {% else %}
    {% if identity.user.is_superuser %}
      <span>
        <a title="admin">
          <i class="fa-solid fa-user-astronaut"></i>
        </a>
      </span>
    {% elif identity.user.is_staff %}
      <span>
        <a title="staff">
          <i class="fa-solid fa-hat-wizard"></i>
        </a>
      </span>
    {% endif %}
    {% if identity.user and identity.user.mastodon_account %}
      <span>
        <a href="{{ identity.user.mastodon_account.url }}"
           target="_blank"
           rel="noopener"
           title="@{{ identity.user.mastodon_acct }}">
          <i class="fa-brands fa-mastodon"></i>
        </a>
      </span>
    {% endif %}
  {% endif %}
  {% if relationship.requested %}
    <span>
      <a title="接受关注请求"
         class="activated"
         hx-post="{% url 'users:accept_follow_request' identity.handle %}"
         hx-target="closest .action"
         hx-swap="innerHTML">
        <i class="fa-solid fa-check"></i>
      </a>
    </span>
    <span>
      <a title="拒绝关注请求"
         class="activated"
         hx-post="{% url 'users:reject_follow_request' identity.handle %}"
         hx-target="closest .action"
         hx-swap="innerHTML">
        <i class="fa-solid fa-xmark"></i>
      </a>
    </span>
  {% endif %}
  {% if relationship.following %}
    <span>
      <a title="已关注，点击可取消关注"
         class="activated"
         hx-post="{% url 'users:unfollow' identity.handle %}"
         hx-target="closest .action"
         hx-swap="innerHTML">
        <i class="fa-solid fa-user-check"></i>
      </a>
    </span>
  {% elif relationship.requesting %}
    <span>
      <a title="已发送关注请求，点击可取消"
         class="activated"
         hx-post="{% url 'users:unfollow' identity.handle %}"
         hx-target="closest .action"
         hx-swap="innerHTML">
        <i class="fa-solid fa-user-clock"></i>
      </a>
    </span>
  {% else %}
    <span>
      <a title="点击可关注该用户"
         hx-post="{% url 'users:follow' identity.handle %}"
         hx-target="closest .action"
         hx-swap="innerHTML">
        <i class="fa-solid fa-user-plus"></i>
      </a>
    </span>
  {% endif %}
  {% if not relationship.muting %}
    <span>
      <a title="点击可隐藏该用户"
         hx-post="{% url 'users:mute' identity.handle %}"
         hx-target="closest .action"
         hx-swap="innerHTML">
        <i class="fa-solid fa-eye"></i>
      </a>
    </span>
  {% else %}
    <span>
      <a title="已隐藏，点击可取消隐藏"
         class="activated"
         hx-post="{% url 'users:unmute' identity.handle %}"
         hx-target="closest .action"
         hx-swap="innerHTML">
        <i class="fa-solid fa-eye-slash"></i>
      </a>
    </span>
  {% endif %}
  <span>
    <a title="点击可屏蔽该用户"
       hx-confirm="确定要屏蔽该用户吗？"
       hx-post="{% url 'users:block' identity.handle %}"
       hx-target="closest .action"
       hx-swap="innerHTML">
      <i class="fa-solid fa-user-slash"></i>
    </a>
  </span>
{% endif %}
