{% for user in list %}
  <p style="border-bottom: gray 1px dashed; padding-bottom:4px;">
    <span class="action">{% include 'users/profile_actions.html' with show_home=1 %}</span>
    <code class="{{ id }}_handler"
          style="cursor:pointer"
          onmouseleave="$(this).removeAttr('data-tooltip')"
          onclick="navigator.clipboard.writeText(this.innerText);$(this).data('tooltip','copied');">{{ user.handler }}</code>
  </p>
{% empty %}
  <p class="empty">无数据</p>
{% endfor %}
<p>
  <span class="action">
    <span>
      <a id="download_{{ id }}" title="导出列表" download="neodb_{{ id }}.csv"><i class="fa-solid fa-download"></i></a>
    </span>
  </span>
  此处只列出你在{{ site_name }}{{ name }}，联邦宇宙{{ name }}列表可在你所属实例查询管理。
</p>
<script>
let csv = "data:text/csv;charset=utf-8,Account address,Show boosts,Notify on new posts,Languages\n"
$('.{{id}}_handler').each(function() {
  csv += $(this).text() + ',true,false,\n'
})
$('#download_{{id}}').attr('href', encodeURI(csv))
</script>
