{% load i18n %}
<div hx-target="this"
     {% if task.state == 0 or task.state == 1 %} hx-get="{% url 'users:user_task_status' task.type %}" hx-trigger="intersect once, every 30s"{% endif %}
     hx-swap="outerHTML">
  {% trans 'Requested' %}: {{ task.created_time }}
  ({{ task.get_state_display }})
  {{ task.message }}
  {% if task.state == 0 or task.state == 1 %}
    {% if task.metadata.total and task.metadata.processed %}
      <div>
        <progress value="{{ task.metadata.processed }}" max="{{ task.metadata.total }}"></progress>
      </div>
    {% endif %}
  {% endif %}
  {% if task.metadata.failed_items %}
    {% trans 'Failed items' %}:
    <br>
    <textarea readonly>{% for item in task.metadata.failed_items %}{{item}}&#10;{% endfor %}</textarea>
  {% endif %}
</div>
