{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {% trans 'Verify Your Email' %}</title>
    {% include "common_libs.html" %}
  </head>
  <body>
    <div class="container">
      <article>
        <header style="text-align: center;">
          <img src="{{ site_logo }}" class="logo" alt="logo">
        </header>
        <h4>{% trans 'Verify Your Email' %}</h4>
        {% if success %}
          <p>
            {{ request.user.email }} {% trans "verified successfully." %}
            <br>
            <a href="{% url 'common:home' %}">{% trans "back to your home page." %}</a>
          </p>
        {% else %}
          <p>
            {{ error }}
            <a href="{% url 'users:login' %}">{% trans "login again" %}</a>
          </p>
        {% endif %}
      </article>
    </div>
  </body>
</html>
