{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {% trans 'Register' %}</title>
    {% include "common_libs.html" %}
  </head>
  <body>
    <div class="container">
      <article>
        <header style="text-align: center;">
          <img src="{{ site_logo }}"
               class="logo"
               alt="logo"
               style="max-height: 42vh">
        </header>
        <h4>{% trans "Welcome" %}</h4>
        <p>
          {% blocktrans %}
              {{ site_name }} is flourishing because of collaborations and contributions from users like you. Please read our <a href="/pages/rules">rules</a>, and feel free to <a href="{{ support_link }}">contact us</a> if you have any question or feedback.
        {% endblocktrans %}
        </p>
        <form action="{{ request.session.next_url | default:'/' }}" method="post">
          {% csrf_token %}
          <input type="submit" value="{% trans 'Accept' %}">
        </form>
      </article>
    </div>
  </body>
</html>
