{% extends "_item_card_metadata_base.html" %}
{% load humanize %}
{% load i18n %}
{% block brief %}
  <div class="multi-fields">
    {% if item.rating %}
      <span class="solo-hidden">{{ item.rating | floatformat:1 }} <small>({{ item.rating_count }} {% trans "ratings" %})</small></span>
    {% endif %}
    {% include '_people.html' with people=item.artist role='' max=2 %}
    {% include '_people.html' with people=item.genre role='genre' max=5 %}
  </div>
{% endblock brief %}
{% block full %}
  <div class="multi-fields">
    {% if item.release_date %}
      <span>{% trans "release date" %} {{ item.release_date }}</span>
    {% endif %}
    {% include '_people.html' with people=item.company role='publisher' max=2 %}
  </div>
  <div>
    <div>
      {% if not hide_brief %}{{ item.display_description | linebreaksbr }}{% endif %}
    </div>
  </div>
{% endblock full %}
