{% extends "_item_card_metadata_base.html" %}
{% load humanize %}
{% load collection %}
{% load i18n %}
{% block brief %}
  {% with collection=item.journal_item %}
    <div class="multi-fields">
      <span>
        <a href="{{ collection.owner.url }}">{{ collection.owner.display_name }}</a>
        <span class="handler">@{{ collection.owner.handle }}</span>
      </span>
      <span>
        {% for cat, count in collection.get_summary.items %}
          {% if count %}
            <span>{% prural_items count cat %}</span>&nbsp;&nbsp;
          {% endif %}
        {% endfor %}
      </span>
    </div>
  {% endwith %}
{% endblock brief %}
{% block full %}
  <div>
    {% if not hide_brief %}{{ item.display_description | linebreaksbr }}{% endif %}
  </div>
{% endblock full %}
