{% extends "_item_card_metadata_base.html" %}
{% load humanize %}
{% load i18n %}
{% block brief %}
  <div class="multi-fields">
    {% if item.rating %}
      <span class="solo-hidden">{{ item.rating | floatformat:1 }} <small>({{ item.rating_count }} {% trans "ratings" %})</small></span>
    {% endif %}
    {% include '_people.html' with people=item.genre role='genre' max=2 %}
    {% include '_people.html' with people=item.language role='language' max=5 %}
    {% include '_people.html' with people=item.troupe role='troupe' max=2 %}
    {% include '_people.html' with people=item.location role='theater' max=2 %}
    {% include '_people.html' with people=item.director role='director' max=2 %}
    {% include '_people.html' with people=item.orig_creator role='original creator' max=2 %}
  </div>
{% endblock brief %}
{% block full %}
  <div class="multi-fields">
    {% include '_people.html' with people=item.additional_title role='other title' max=2 %}
    {% include '_people.html' with people=item.playwright role='playwright' max=2 %}
    {% include '_people.html' with people=item.composer role='composer' max=2 %}
    {% include '_people.html' with people=item.choreographer role='choreographer' max=2 %}
    {% include '_actor.html' with people=item.actor role='actor' max=2 %}
    {% include '_people.html' with people=item.performer role='performer' max=2 %}
  </div>
  <div>
    {% if not hide_brief %}
      {{ item.display_description | default:item.parent_item.display_description | linebreaksbr }}
    {% endif %}
  </div>
{% endblock full %}
