{% extends "_item_card_metadata_base.html" %}
{% load humanize %}
{% load i18n %}
{% block brief %}
  <div class="multi-fields">
    {% if item.rating %}
      <span class="solo-hidden">{{ item.rating | floatformat:1 }} <small>({{ item.rating_count }} {% trans "ratings" %})</small></span>
    {% endif %}
    {% include '_people.html' with people=item.additional_title role='other title' max=2 %}
    {% if item.release_date %}<span>{{ item.release_date }}</span>{% endif %}
  </div>
{% endblock brief %}
{% block full %}
  <div class="multi-fields">
    {% include '_people.html' with people=item.genre role='genre' max=2 %}
    {% include '_people.html' with people=item.platform role='platform' max=5 %}
    {% include '_people.html' with people=item.developer role='developer' max=2 %}
    {% include '_people.html' with people=item.publisher role='publisher' max=2 %}
  </div>
  <div>
    {% if not hide_brief %}{{ item.brief | linebreaksbr }}{% endif %}
  </div>
{% endblock full %}
