{% load static %}
{% load i18n %}
{% load l10n %}
<article>
  <div>{% trans 'Not the result you are looking for?' %}</div>
  <p>
    Paste the link into the search box if you have found the entry you are looking for on these sites:
    {% for site in sites %}
      {{ site }}
      {% if not forloop.last %}/{% endif %}
    {% endfor %}
  </p>
  <p>{% trans "Or you may create items manually" %}:</p>
  <ul>
    <li>
      <a href="{% url 'catalog:create' 'Edition' %}?title={{ request.GET.q | default:'' }}">{% trans 'Add books' %}</a>
    </li>
    <li>
      <a href="{% url 'catalog:create' 'Movie' %}?title={{ request.GET.q | default:'' }}">{% trans 'Add movies' %}</a>
    </li>
    <li>
      <a href="{% url 'catalog:create' 'TVShow' %}?title={{ request.GET.q | default:'' }}">{% trans 'Add tv series' %}</a>
    </li>
    <li>
      <a href="{% url 'catalog:create' 'Podcast' %}?title={{ request.GET.q | default:'' }}">{% trans 'Add podcasts' %}</a>
    </li>
    <li>
      <a href="{% url 'catalog:create' 'Album' %}?title={{ request.GET.q | default:'' }}">{% trans 'Add albums' %}</a>
    </li>
    <li>
      <a href="{% url 'catalog:create' 'Game' %}?title={{ request.GET.q | default:'' }}">{% trans 'Add games' %}</a>
    </li>
    <li>
      <a href="{% url 'catalog:create' 'Performance' %}?title={{ request.GET.q | default:'' }}">{% trans 'Add performance or theater pieces' %}</a>
    </li>
  </ul>
</article>
