{% extends "item_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load strip_scheme %}
{% load thumb %}
{% load duration %}
<!-- class specific details -->
{% block details %}
  <div>{% include '_people.html' with people=item.additional_title role='other title' max=5 %}</div>
  <div>{% include '_people.html' with people=item.artist role='artist' max=5 %}</div>
  <div>{% include '_people.html' with people=item.company role='publisher' max=5 %}</div>
  <div>
    {% if item.release_date %}
      {% trans 'release date' %}: {{ item.release_date }}
    {% endif %}
  </div>
  <div>
    {% if item.duration %}
      {% trans 'duration' %}: {{ item.duration|duration_format:1000 }}
    {% endif %}
  </div>
  <div>{% include '_people.html' with people=item.genre role='genre' max=5 %}</div>
  <div>
    {% if item.barcode %}
      {% trans 'barcode' %}: {{ item.barcode }}
    {% endif %}
  </div>
  <div>
    {% if item.album_type %}
      {% trans 'album type' %}: {{ item.album_type }}
    {% endif %}
  </div>
  <div>
    {% if item.media %}
      {% trans 'album media' %}: {{ item.media }}
    {% endif %}
  </div>
  <div>
    {% if item.disc_count %}
      {% trans 'number of discs' %}: {{ item.disc_count }}
    {% endif %}
  </div>
{% endblock %}
<!-- class specific sidebar -->
{% block content %}
  {% if item.track_list %}
    <h5>tracks</h5>
    <p class="tldr" _="on click toggle .tldr on me">{{ item.track_list | linebreaksbr }}</p>
  {% endif %}
  {% if item.get_embed_link %}
    <h5>play this album</h5>
    <iframe src="{{ item.get_embed_link }}"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
            style="width: 100%;
                   height: 50vh"></iframe>
  {% endif %}
{% endblock %}
