{% load static %}
{% load tz_detect %}
{% tz_detect %}
{% if sentry_dsn %}
<script src="https://browser.sentry-cdn.com/7.7.0/bundle.min.js"></script>
<script>
    if (window.Sentry) Sentry.init({
      dsn: "{{ sentry_dsn }}",
      release: "{{ version_hash }}",
      environment: "{{ settings_module }}",
      tracesSampleRate: 1.0,
    });
</script>
{% endif %}
{% if jquery %}
<script src="https://cdn.staticfile.org/jquery/3.6.3/jquery.min.js"></script>
{% else %}
<script src="https://cdn.staticfile.org/cash/8.1.3/cash.min.js"></script>
<script type="text/javascript">
  $.fn.is_visible = function visible() {
      return this.filter((_, elt) => (elt.offsetWidth || elt.offsetHeight || elt.getClientRects().length)).length > 0;
  };
  if (!$.fn.submit) $.fn.submit = function () {
      this.each(function () {
          $(this).trigger('submit');
          this.submit();
      });
      return this;
  };
</script>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.8.5/htmx.min.js"></script>
<script src="{% static 'lib/js/hyperscript-0.9.7.min.js' %}"></script>
<script src="{% static 'lib/js/rating-star.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/boofilsic.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/rating-star.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/collection.css' %}">
<link rel="search" type="application/opensearchdescription+xml" title="{{ site_name }}" href="{% static 'opensearch.xml' %}">
<script src="{% static 'catalog.js' %}"></script>
<script src="{% static 'lib/js/tag-input.js' %}"></script>
<link href="{% static 'lib/css/tag-input.css' %}" type="text/css" media="all" rel="stylesheet">
<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
