{% load static %}
{% load sass_tags %}
{% load tz_detect %}
{% if request.user.is_authenticated %}
  {% tz_detect %}
{% endif %}
{% if jquery %}
  <script src="https://cdn.staticfile.org/jquery/3.6.3/jquery.min.js"></script>
{% else %}
  <script src="https://cdn.staticfile.org/cash/8.1.5/cash.min.js"></script>
{% endif %}
<script type="text/javascript">
  if (!$.fn.is_visible) $.fn.is_visible = function () {
    return this.filter((_, elt) => (elt.offsetWidth || elt.offsetHeight || elt.getClientRects().length)).length > 0;
  };
  if (!$.fn.submit) $.fn.submit = function () {
    this.each(function () {
      $(this).trigger('submit');
      this.submit();
    });
    return this;
  };
</script>
<script src="https://cdn.staticfile.org/htmx/1.9.2/htmx.min.js"></script>
<script src="{% static 'lib/js/hyperscript-0.9.7.min.js' %}"></script>
<link rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@2.0.0-alpha1/css/pico.min.css" />
<link href="{% sass_src 'scss/neodb.scss' %}"
      rel="stylesheet"
      type="text/css" />
<link href="{% static 'fontawesomefree/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css">
<link rel="search"
      type="application/opensearchdescription+xml"
      title="{{ site_name }}"
      href="{% static 'opensearch.xml' %}">
