{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load strip_scheme %}
{% load thumb %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ cdn_url }}/npm/cash-dom@8.1.5/dist/cash.min.js"></script>
    {% block head %}{% endblock %}
    <title>{{ site_name }} - {% trans item.category.label %} | {{ item.display_title }}</title>
  </head>
  <body></body>
</html>
