{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load strip_scheme %}
{% load thumb %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.staticfile.org/cash/8.1.3/cash.min.js"></script>
  {% block head %}
  {% endblock %}
  <title>{{ site_name }} - {% trans item.category.label %} | {{ item.title }}</title>
</head>
<body>
</body>
</html>
