{% extends "item_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load strip_scheme %}
{% load thumb %}
<!-- class specific details -->
{% block details %}
  <div class="tldr-2" _="on click toggle .tldr-2 on me">
    {% include '_people.html' with people=item.additional_title _role='other title' max=99 %}
  </div>
  <div>
    {% if item.release_date %}
      {% trans 'release date' %}: {{ item.release_date }}
    {% elif item.release_year %}
      {% trans 'release year' %}: {{ item.release_year }}
    {% endif %}
  </div>
  <div>{% include '_people.html' with people=item.platform role='platform' max=8 %}</div>
  <div>{% include '_people.html' with people=item.genre role='genre' max=5 %}</div>
  <div>{% include '_people.html' with people=item.designer role='designer' max=3 %}</div>
  <div>{% include '_people.html' with people=item.artist role='artist' max=3 %}</div>
  <div>{% include '_people.html' with people=item.developer role='developer' max=2 %}</div>
  <div>{% include '_people.html' with people=item.publisher role='publisher' max=2 %}</div>
  <div>
    {% if item.official_site %}
      {% trans 'website' %}: {{ item.official_site|urlizetrunc:24 }}
    {% endif %}
  </div>
{% endblock %}
