{% extends "item_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load strip_scheme %}
{% load thumb %}
<!-- class specific details -->
{% block details %}
  <div>
    {% if item.other_title %}
      {% trans '别名：' %}
      {% for other_title in item.other_title %}
        <span {% if forloop.counter > 5 %}style="display: none;"{% endif %}>
          <span class="other_title">{{ other_title }}</span>
          {% if not forloop.last %}/{% endif %}
        </span>
      {% endfor %}
      {% if item.other_title|length > 5 %}
        <a href="javascript:void(0);" id="otherTitleMore">{% trans '更多' %}</a>
        <script>
			$("#otherTitleMore").on('click', function (e) {
				$("span.other_title:not(:visible)").each(function (e) {
					$(this).parent().removeAttr('style');
				});
				$(this).remove();
			})

        </script>
      {% endif %}
    {% endif %}
  </div>
  <div>
    {% if item.genre %}
      {% trans '类型：' %}
      {% for genre in item.genre %}
        <span>{{ genre }}</span>
        {% if not forloop.last %}/{% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div>
    {% if item.developer %}
      {% trans '开发商：' %}
      {% for developer in item.developer %}
        <span>{{ developer }}</span>
        {% if not forloop.last %}/{% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div>
    {% if item.publisher %}
      {% trans '发行商：' %}
      {% for publisher in item.publisher %}
        <span>{{ publisher }}</span>
        {% if not forloop.last %}/{% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div>
    {% if item.release_date %}
      {% trans '发行日期：' %}{{ item.release_date }}
    {% endif %}
  </div>
  <div>
    {% if item.official_site %}
      {% trans '官方网站：' %}{{ item.official_site|urlizetrunc:24 }}
    {% endif %}
  </div>
  <div>
    {% if item.platform %}
      {% trans '平台：' %}
      {% for platform in item.platform %}
        <span>{{ platform }}</span>
        {% if not forloop.last %}/{% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
