{% extends "item_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load strip_scheme %}
{% load thumb %}
<!-- class specific details -->
{% block details %}
  <div class="tldr-2" _="on click toggle .tldr-2 on me">
    {% include '_people.html' with people=item.other_title _role='别名' max=99 %}
  </div>
  <div>
    {% if item.release_date %}
      {% trans '发行时间：' %}{{ item.release_date }}
    {% elif item.release_year %}
      {% trans '发行时间：' %}{{ item.release_year }}
    {% endif %}
  </div>
  <div>{% include '_people.html' with people=item.platform role='平台' max=8 %}</div>
  <div>{% include '_people.html' with people=item.genre role='类型' max=5 %}</div>
  <div>{% include '_people.html' with people=item.designer role='设计者' max=3 %}</div>
  <div>{% include '_people.html' with people=item.artist role='艺术家' max=3 %}</div>
  <div>{% include '_people.html' with people=item.developer role='开发商' max=1 %}</div>
  <div>{% include '_people.html' with people=item.publisher role='发行商' max=1 %}</div>
  <div>
    {% if item.official_site %}
      {% trans '官方网站：' %}{{ item.official_site|urlizetrunc:24 }}
    {% endif %}
  </div>
{% endblock %}
