{% extends "item_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load strip_scheme %}
{% load thumb %}
<!-- class specific details -->
{% block details %}
  <div>
    {% if item.show %}
      {% trans '所属剧目' %}： <span><a href="{{ item.show.url }}"></span>{{ item.show.title }}</a>
    {% endif %}
  </div>
  <div>{% include '_people.html' with people=item.other_title _role='其他标题' max=5 %}</div>
  <div>{% include '_people.html' with people=item.genre role='类型' max=5 %}</div>
  <div>{% include '_people.html' with people=item.troupe role='剧团' max=5 %}</div>
  <div>{% include '_people.html' with people=item.location role='剧院' max=5 %}</div>
  <div>
    {% if item.language %}语言： <span>{{ item.language }}</span>{% endif %}
  </div>
  <div>
    {% if item.opening_date %}日期： <span>{{ item.opening_date }}</span>{% endif %}
  </div>
  <div>{% include '_people.html' with people=item.director role='导演' max=5 %}</div>
  <div>{% include '_people.html' with people=item.playwright role='编剧' max=5 %}</div>
  <div>{% include '_people.html' with people=item.performer role='演员' max=10 %}</div>
  <div>{% include '_people.html' with people=item.composer role='作曲' max=5 %}</div>
  <div>{% include '_people.html' with people=item.choreographer role='编舞' max=5 %}</div>
  <div>{% include '_people.html' with people=item.crew role='演职人员' max=10 %}</div>
  <div>
    {% if item.official_site %}
      {% trans '官方网站' %}： <span>{{ item.official_site|urlizetrunc:24 }}</span>
    {% endif %}
  </div>
{% endblock %}
