{% extends "item_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load strip_scheme %}
{% load thumb %}
<!-- class specific details -->
{% block details %}
  <div>
    {% if item.opening_date %}
      {% trans "opening date" %}:
      <span>{{ item.opening_date }}</span>
      {% if item.closing_date %}~ <span>{{ item.closing_date }}</span>{% endif %}
    {% endif %}
  </div>
  <div>{% include '_people.html' with people=item.additional_title _role='other title' max=5 %}</div>
  <div>{% include '_people.html' with people=item.genre role='genre' max=5 %}</div>
  <div>{% include '_people.html' with people=item.troupe role='troupe' max=5 %}</div>
  <div>{% include '_people.html' with people=item.location role='theater' max=5 %}</div>
  <div>{% include '_people.html' with people=item.language role='language' max=5 %}</div>
  <div>{% include '_people.html' with people=item.orig_creator role='orginal creator' max=5 %}</div>
  <div>{% include '_people.html' with people=item.director role='director' max=5 %}</div>
  <div>{% include '_people.html' with people=item.playwright role='playwright' max=5 %}</div>
  <div>{% include '_people.html' with people=item.composer role='composer' max=5 %}</div>
  <div>{% include '_people.html' with people=item.choreographer role='choreographer' max=5 %}</div>
  <div>{% include '_actor.html' with people=item.actor role='actor' max=50 %}</div>
  <div>{% include '_people.html' with people=item.performer role='performer' max=50 %}</div>
  <div>{% include '_crew.html' with people=item.crew role='crew' max=50 %}</div>
  <div>
    {% if item.official_site %}
      {% trans 'website' %}: <span>{{ item.official_site|urlizetrunc:24 }}</span>
    {% endif %}
  </div>
{% endblock %}
