{% extends "item_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load strip_scheme %}
{% load thumb %}
<!-- class specific details -->
{% block details %}
  <div>{% include '_people.html' with people=item.other_title _role='其他标题' max=5 %}</div>
  <div>
    {% if item.opening_date %}
      上演时间：<span>{{ item.opening_date }}</span>
      {% if item.closing_date %}~ <span>{{ item.closing_date }}</span>{% endif %}
    {% endif %}
  </div>
  <div>{% include '_people.html' with people=item.genre role='类型' max=5 %}</div>
  <div>{% include '_people.html' with people=item.troupe role='剧团' max=5 %}</div>
  <div>{% include '_people.html' with people=item.location role='剧院' max=5 %}</div>
  <div>{% include '_people.html' with people=item.language role='语言' max=5 %}</div>
  <div>{% include '_people.html' with people=item.orig_creator role='原作' max=5 %}</div>
  <div>{% include '_people.html' with people=item.director role='导演' max=5 %}</div>
  <div>{% include '_people.html' with people=item.playwright role='编剧' max=5 %}</div>
  <div>{% include '_people.html' with people=item.composer role='作曲' max=5 %}</div>
  <div>{% include '_people.html' with people=item.choreographer role='编舞' max=5 %}</div>
  <div>{% include '_actor.html' with people=item.actor role='演员' max=10 %}</div>
  <div>{% include '_people.html' with people=item.performer role='表演者' max=10 %}</div>
  <div>{% include '_crew.html' with people=item.crew_by_role role='演职人员' max=10 %}</div>
  <div>
    {% if item.official_site %}
      {% trans '官方网站' %}： <span>{{ item.official_site|urlizetrunc:24 }}</span>
    {% endif %}
  </div>
{% endblock %}
{% block content %}
  {% with item.all_productions as productions %}
    {% if productions %}
      <h5>{% trans '上演版本' %}</h5>
      <div>
        {% for prod in productions %}
          <hgroup>
            <h6>
              <a href="{{ prod.url }}">{{ prod.title }}</a>
            </h6>
            <div>
              {% if prod.opening_date %}
                <span>{{ prod.opening_date }}</span>
                {% if prod.closing_date %}~ <span>{{ prod.closing_date }}</span>{% endif %}
              {% endif %}
              {% include '_people.html' with people=prod.troupe _role='剧团' max=2 %}
              {% include '_people.html' with people=prod.location _role='上演剧院' max=2 %}
              {% include '_people.html' with people=prod.language _role='语言' max=5 %}
            </div>
            <div class="tldr-2">
              {% include '_people.html' with people=prod.orig_creator role='原作' max=2 %}
              {% include '_people.html' with people=prod.director role='导演' max=2 %}
              {% include '_people.html' with people=prod.playwright role='编剧' max=2 %}
              {% include '_actor.html' with people=prod.actor role='演员' max=5 %}
              {% include '_people.html' with people=prod.performer role='表演者' max=5 %}
              {% include '_people.html' with people=prod.composer role='作曲' max=2 %}
              {% include '_people.html' with people=prod.choreographer role='编舞' max=2 %}
            </div>
          </hgroup>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock %}
