{% load static %}
{% load i18n %}
{% load l10n %}
<style>
    .add-entity-entries__button {
        margin: 4px;
    }
</style>
<aside class="grid__aside bottom">
  <article>
    <div class="add-entity-entries__label">{% trans '没有想要的结果？' %}</div>
    <p>
      如果在
      {% for site in sites %}
        {{ site }}
        {% if not forloop.last %}/{% endif %}
      {% endfor %}
      找到了条目，可以在搜索栏中输入完整链接提交。
    </p>
    <p>当然也可以手工创建条目：</p>
    <ul>
      <li>
        <a href="{% url 'catalog:create' 'Edition' %}?title={{ request.GET.q | default:'' }}">{% trans '添加图书' %}</a>
      </li>
      <li>
        <a href="{% url 'catalog:create' 'Movie' %}?title={{ request.GET.q | default:'' }}">{% trans '添加电影' %}</a>
      </li>
      <li>
        <a href="{% url 'catalog:create' 'TVShow' %}?title={{ request.GET.q | default:'' }}">{% trans '添加电视剧集' %}</a>
      </li>
      <li>
        <a href="{% url 'catalog:create' 'Podcast' %}?title={{ request.GET.q | default:'' }}">{% trans '添加播客' %}</a>
      </li>
      <li>
        <a href="{% url 'catalog:create' 'Album' %}?title={{ request.GET.q | default:'' }}">{% trans '添加音乐专辑' %}</a>
      </li>
      <li>
        <a href="{% url 'catalog:create' 'Game' %}?title={{ request.GET.q | default:'' }}">{% trans '添加游戏' %}</a>
      </li>
      <li>
        <a href="{% url 'catalog:create' 'Performance' %}?title={{ request.GET.q | default:'' }}">{% trans '添加表演或戏剧作品' %}</a>
      </li>
    </ul>
  </article>
</aside>
