{% extends "item_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load strip_scheme %}
{% load thumb %}
<!-- class specific details -->
{% block details %}
  <div>{% include '_people.html' with people=item.other_title role='other title' max=5 %}</div>
  <div>{% include '_people.html' with people=item.author role='author' max=5 %}</div>
{% endblock %}
{% block left_sidebar %}
  <div _="init hide .item-mark-buttons then hide .item-mark-icon end">
    <details open>
      <summary>{% trans 'Editions' %}</summary>
      {% for b in item.editions.all %}
        <div>
          <a href="{{ b.url }}">{{ b.title }}</a>
          <small>({{ b.pub_house | default:'' }} {{ b.pub_year | default:'' }})</small>
        </div>
      {% endfor %}
    </details>
  </div>
{% endblock %}
<!-- class specific sidebar -->
{% block sidebar %}{% endblock %}
