{% extends "item_base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load strip_scheme %}
{% load thumb %}
<!-- class specific details -->
{% block details %}
  <div>
    {% if item.other_title %}
      {% trans '又名：' %}
      {% for t in item.other_title %}
        <span>{{ t }}</span>
        {% if not forloop.last %}/{% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div>
    {% if item.author %}
      {% trans '作者：' %}
      {% for author in item.author %}
        <span>{{ author }}</span>
        {% if not forloop.last %}/{% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
{% block left_sidebar %}
  <div _="init hide .item-mark-buttons then hide .item-mark-icon end">
    <details open>
      <summary>{% trans '本著作包含以下图书版本' %}</summary>
      {% for b in item.editions.all %}
        <div>
          <a href="{{ b.url }}">{{ b.title }}</a>
          <small>({{ b.pub_house | default:'' }} {{ b.pub_year | default:'' }})</small>
        </div>
      {% endfor %}
    </details>
  </div>
{% endblock %}
<!-- class specific sidebar -->
{% block sidebar %}{% endblock %}
