#collection-page {
  @media (max-width: 768px) {
    main>article>header {
      display: flex;
      flex-flow: column nowrap;

      #collection-cover {
        img {
          height: 20vw;
        }

        height: unset !important;
        order: -1;
      }

      #collection-feature {
        order: 99;

        .donut {
          display: none;
        }
      }
    }
  }
}
