.feed-page {
  .feed {
    .avatar {
      height: calc(1rem * var(--pico-line-height) + var(--pico-nav-link-spacing-vertical) * 4 - 8px);
      width: calc(1rem * var(--pico-line-height) + var(--pico-nav-link-spacing-vertical) * 4 - 8px);

      img {
        height: 100%;
        width: 100%;
      }
    }

    section {
      margin-bottom: var(--pico-spacing);
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto;
      grid-column-gap: 1em;
      grid-row-gap: 0px;
      // align-items: center;
      // justify-content: left;

      .nickname a {
        word-break: break-all;
      }

      .time {
        width: max-content;
        float: right;
        color: var(--pico-muted-color);
        opacity: 0.5;
        margin-left: 1em;
      }

      .rating-star {
        margin: 0 0.5em;
      }

      .rating-star,
      .rating-star>* {
        color: var(--pico-primary);
      }


      article {
        padding: calc(var(--pico-block-spacing-horizontal) / 2);

        footer {
          padding: calc(var(--pico-block-spacing-horizontal) / 2);
          margin-left: calc(var(--pico-block-spacing-horizontal) * -0.5);
          margin-right: calc(var(--pico-block-spacing-horizontal) * -0.5);
          margin-top: 0;
        }

        margin-right: 4px;
      }

      .spacing {
        margin-bottom: var(--pico-block-spacing-horizontal);
      }
    }
  }
}
