body>footer {
  font-size: 80%;
  text-align: center;
  margin-bottom: 4px;
  width: 60%;
  transform: translateX(-50%);
  position: absolute;
  clear: both;
  left: 50%;

  @media (max-width: 768px) {
    width: 80%;
  }

  >div.grid {
    padding-top: 4px;
    padding-left: 15%;
    padding-right: 15%;

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
    }


    >div {
      white-space: nowrap;
      min-width: 15vw;
    }
  }

}
