.item-page {

  .muted {
    color: var(--pico-muted-color);
  }

  .muted a:not(:hover) {
    color: var(--pico-muted-color);
  }

  .season-picker {
    overflow-x: scroll;
    display: grid;
    grid-auto-flow: column;
    padding: 0.5em 0;
    margin-bottom: 1em;

    &::-webkit-scrollbar {
      height: 0.25em;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--pico-range-active-border-color);
    }

    &::-webkit-scrollbar-track {
      background: var(--pico-range-border-color);
    }

  }

  span.season-number {
    line-height: 1.2em;
    display: inline-block;

    a {
      border-radius: calc(var(--pico-spacing)/4);
      margin-right: 0.5em;
      padding: 0 0.5rem;
      border: var(--pico-primary) solid 1px;
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;
    }

    &.marked a {
      background: var(--pico-secondary);
      border: var(--pico-secondary) solid 1px;
      color: var(--pico-form-element-background-color);
    }

    a.current {
      color: var(--pico-form-element-background-color);
      background: var(--pico-primary);
      cursor: default;
    }

  }

  .muted .fa-lock {
    filter: brightness(50%) !important;
  }

  a>button {
    padding: 2px 8px;
    font-size: 75%;
  }

  main>div section {
    margin-bottom: 2.5rem;
  }

  #item-title {
    margin-bottom: 0;
  }

  #item-title-more {
    margin-top: 0;
  }

  #item-title h1 {
    margin: 0;
  }

  h1 small {
    font-size: 80%;
    margin-left: 0.5vw;
    font-weight: 400;
  }

  #item-cover {
    align-items: stretch;
  }

  #item-cover img {
    transition: transform 0.2s ease-in-out;
    filter: drop-shadow(0 0.2rem 0.8rem rgba(0, 0, 0, 0.2));
    max-width: 80%;
    max-height: 18rem;
  }

  .item-edit,
  .item-edit a {
    color: var(--pico-muted-color);
  }

  .item-action {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .item-action button {
    margin-left: 4px;
    margin-right: 4px;
  }

  .mark {
    text-align: center;
  }

  #item-cover {
    text-align: center;
  }


  #item-title h1 {
    display: inline;
  }

  #item-cover,
  #item-primary-action,
  #item-primary-mark {
    margin: 2rem 0;
  }

  span.log-details {
    font-size: 20%;
  }

  @media (min-width: 769px) {

    // #item-cover {
    //   clear: both;
    // }
    #item-content {
      min-height: 15rem;
    }
  }

  @media (max-width: 768px) {
    #item-cover {
      margin: 1rem 0;
    }

    #item-primary-action,
    #item-primary-mark {
      margin-bottom: 1rem 0;
    }

    #item-title {
      order: -5;
      display: flex;
      flex-flow: column nowrap;

      h1 {
        display: flex;

      }

      .site-list {
        order: -1;
      }

    }

    #item-title-more {
      order: -4;
    }

    #item-cover {
      order: -3;
    }

    #item-primary-action {
      order: -2;
    }

    #item-primary-mark {
      order: -2;
    }

    #item-metadata {
      order: -1;
    }

    #item-sidebar {
      order: 99;
    }

    #item-cover img {
      max-width: 60vw;
    }
  }
}
