.spoiler {
  background: grey;
  filter: blur(2px);
  cursor: pointer;

  &.revealed {
    background: unset;
    filter: unset;
    color: inherit;
  }
}

.markdown-content {

  h1 {
    font-size: 1.5rem
  }

  h2 {
    font-size: 1.25rem
  }

  h3 {
    font-size: 1.1rem;
  }
}


.markdownx-editor {
  font-family: monospace;
}
