#mark_date {
  width: unset !important;
}

.mark-line {
  margin-bottom: var(--pico-spacing);

  >div:last-child {
    margin-top: calc(-0.3rem * var(--pico-line-height));
    text-align: right;
  }
}

#mark-history-header {
  display: flex;
  align-items: center;
}

.log-info {
  margin-right: 0.5rem;
}

#log-delete-all {
  margin-left: 2rem;
    margin-bottom: 1rem;
    align-items: center;
    display: inline;
    padding: calc(var(--pico-spacing)/6);
    border-radius: calc(var(--pico-spacing)/4);
    border-width: 2px;
    font-size: 80%;
    font-weight: lighter;
    word-break: keep-all;
    opacity: 1;
    font-weight: 400;
    text-decoration: none;
    white-space: nowrap;
}

@media (max-width: 768px) {
  .mark-line {

    >div,
    >div:last-child {
      margin-top: unset;
      text-align: center;
    }
  }
}

.tag-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 0.1rem solid #ccc;
  padding-bottom: 2px;
}

.tag-input__tag {
  position: relative;
  display: block;
  float: left;
  color: white;
  background: #d5d5d5;
  padding: 5px 20px 5px 6px;
  margin: 4px;
  border-radius: .4rem;
  line-height: 1em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: min-content;
}

.tag-input__tag.tag-input__tag--highlight {
  color: white;
  background: #00a1cc;
}

.tag-input__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 100%;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.tag-input__close:after {
  position: absolute;
  content: "×";
  top: 5px;
  left: 2px;
}

.tag-input__close:hover {
  color: #606c76;
}

.tag-input input {
  border: 0;
  margin: 4px;
  padding: 3px 7px 3px 0;
  width: auto;
  outline: none;
  height: unset;
}
