#mark_date {
  width: unset !important;
}

.mark-line {
  margin-bottom: var(--pico-spacing);

  >div:last-child {
    margin-top: calc(-0.3rem * var(--pico-line-height));
    text-align: right;
  }
}

// make log list like a timeline list
// source: https://dev.to/peterc/how-to-create-joined-bulletpoint-lists-with-css-bbc-news-style-1eem
ul.log-list {
  li {
    list-style: disc;
    position: relative;
    margin: 0;
    padding-bottom: 0.5em;
    padding-left: 0.8em;

    // The actual line being placed before each list item, tweak width and color as appropriate
    &:before {
      background-color: var(--pico-color);
      width: 2px;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -0.75em;
    }

    // Start the line further down on the first list item
    &:first-child:before {
      top: 15px;
    }

    // Stop the line short on the final list item
    &:last-child:before {
      height: 15px;
    }

    // Hide the line when there's only one item
    &:only-child:before {
      content: none;
    }
  }
}

.log-info {
  margin-right: 0.5em;
}

.log-info-container {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .mark-line {

    >div,
    >div:last-child {
      margin-top: unset;
      text-align: center;
    }
  }
}

.tag-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 0.1rem solid #ccc;
  padding-bottom: 2px;
}

.tag-input__tag {
  position: relative;
  display: block;
  float: left;
  color: white;
  background: #d5d5d5;
  padding: 5px 20px 5px 6px;
  margin: 4px;
  border-radius: .4rem;
  line-height: 1em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: min-content;
}

.tag-input__tag.tag-input__tag--highlight {
  color: white;
  background: #00a1cc;
}

.tag-input__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 100%;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.tag-input__close:after {
  position: absolute;
  content: "×";
  top: 5px;
  left: 2px;
}

.tag-input__close:hover {
  color: #606c76;
}

.tag-input input {
  border: 0;
  margin: 4px;
  padding: 3px 7px 3px 0;
  width: auto;
  outline: none;
  height: unset;
}
