.post {
	p {
		word-break: break-word;
		margin-bottom: 0.5em;
	}
	.cover {
	  img {
	    max-width:6em;
	    max-height:12em;
	    margin:1em;
	    box-shadow: var(--pico-card-box-shadow);
	    @media (max-width: 768px) {
	      max-width:4em;
	      max-height:8em;
	      margin:0.5em 0 0.5em 0.5em;
	    }
	    @media (min-width: 1280px) {
	      max-width:8em;
	      max-height:16em;
	      margin:1em 1em 2em 2em;
	    }
	  }
	}
	section.replies {
		border-left: 1px solid var(--pico-muted-color);
		margin-left: var(--pico-spacing);
		padding-left: var(--pico-spacing);
		margin-bottom: 0 !important;
		>div {
			margin-bottom: calc(var(--pico-spacing));
		}
		p {
			margin-bottom: 0;
		}
		details {
			summary {
				text-decoration: underline;
			}
		}
		form {
			margin-bottom: 0;
			select {
				width: min-content;
			}
			button{
				height: calc(1rem * var(--pico-line-height) + var(--pico-form-element-spacing-vertical) * 2 + var(--pico-border-width) * 2)
			}
			details.dropdown > summary::after {
			  display: none;
			}
		}
	}
}

.attachments {
	img.preview {
		max-height: 48vh;
	  max-width: 48%;
	}
}
