.tag-list {
  // margin-bottom: var(--pico-spacing);

  span {
    // margin: 3px;

    a {
      color: white;
      background: var(--pico-muted-color);
      padding: calc(var(--pico-spacing)/4);
      border-radius: calc(var(--pico-spacing)/4);
      line-height: 1.2em;
      font-size: 80%;
      margin: 0.5em !important;
      margin-right: 0 !important;
      text-decoration: none;
      white-space: nowrap;
      display: inline-block;
    }
  }
}
