{% load i18n %}
<form style="display:none"
      action="{% if featured %}{% url 'journal:collection_remove_featured' collection.uuid %}{% else %}{% url 'journal:collection_add_featured' collection.uuid %}{% endif %}"
      method="post"
      id="feature-form">
  {% csrf_token %}
</form>
{% if featured %}
  <a class="activated"
     title="{% trans "stop tracking" %}"
     onclick="if (confirm('{% trans "Stop tracking this target?" %}')) $('#feature-form').submit();">
    <i class="fa-solid fa-circle-dot"></i>
  </a>
{% else %}
  <a title="{% trans "set as target" %}"
     onclick="$('#feature-form').submit()">
    <i class="fa-regular fa-circle-dot"></i>
  </a>
{% endif %}
