{% load i18n %}
<aside class="grid__aside bottom">
  <p>
    {% trans 'Addtional filters may be added to query' %}
    <li>
      <code>status:complete</code> - {% trans 'filter by one of these statuses' %}: <code>wishlist</code> / <code>progress</code> / <code>complete</code> / <code>dropped</code>
    </li>
    <li>
      <code>rating:6..8</code> - {% trans 'filter by rating range' %}
    </li>
    <li>
      <code>rating:0</code> - {% trans 'filter unrated' %}
    </li>
    <li>
      <code>tag:scifi</code> - {% trans 'filter by tag' %}
    </li>
    <li>
      <code>category:tv</code> - {% trans 'filter by one of these categories' %}: <code>movie</code> / <code>tv</code> / <code>book</code> / <code>music</code> / <code>game</code> / <code>podcast</code> / <code>performance</code>
    </li>
    <li>
      <code>type:note</code> - {% trans 'filter by one of these types' %}:  <code>mark</code> / <code>comment</code> / <code>review</code> / <code>collection</code> / <code>note</code>
    </li>
    <li>
      <code>date:2021-9-11</code> - {% trans 'filter by date' %}
    </li>
    <li>
      <code>date:2022-2</code> - {% trans 'filter by month' %}
    </li>
    <li>
      <code>date:2022..2023</code> - {% trans 'filter by date range' %}
    </li>
  </p>
</aside>
