{% load i18n %}
<span>
  <a target="_blank"
     rel="noopener"
     href="{{ post.object_uri }}"
     onclick="navigator.share({url:'{{ post.object_uri|escapejs }}'});event.preventDefault();"
     title="{% trans "link for fediverse" %}">
    {% if post.visibility == 1 %}
      <i class="fa-solid fa-lock-open"></i>
    {% elif post.visibility == 2 %}
      <i class="fa-solid fa-lock"></i>
    {% elif post.visibility == 3 %}
      <i class="fa-solid fa-at"></i>
    {% elif post.visibility == 4 %}
      <i class="fa-solid fa-igloo"></i>
    {% else %}
      <i class="fa-solid fa-globe"></i>
    {% endif %}
  </a>
</span>
