{{ calendar_data|json_script:"calendar_data" }}
<script>
  $(".calendar_view").calendar_yearview_blocks({
    data: $("#calendar_data").text(),
    start_monday: false,
    always_show_tooltip: false,
    month_names: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
    day_names: ['', '', ''],
    colors: {
      'default': getComputedStyle(document.documentElement).getPropertyValue('--pico-form-element-background-color'),
      'book': '#B4D2A5',
      'movie': '#7CBDFE',
      'music': '#FEA36D',
      'game': '#C5A290',
      'other': '#9D6AB0'
    }
  });
</script>
