{% load static %}
{% load i18n %}
{% load mastodon %}
<!DOCTYPE html>
<html lang="zh" class="content-page">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - 编辑收藏单 - {{ title }}</title>
    {% include "common_libs.html" %}
    <script src="{{ cdn_url }}/npm/html5sortable@0.13.3/dist/html5sortable.min.js"></script>
    <style type="text/css">
      #id_collaborative li, #id_visibility li {display: inline-block !important;}
      .grid__main details {
        margin: 2rem 0;
      }
    </style>
  </head>
  <body>
    {% include "_header.html" %}
    <main>
      <div class="grid__main">
        <h4>
          {% if collection %}
            编辑 <a href="{{ collection.url }}">{{ collection.title }}</a>
          {% else %}
            创建收藏单
          {% endif %}
        </h4>
        <hr>
        <details {% if not collection %}open{% endif %}>
          <summary>标题和描述</summary>
          <form class="entity-form markdown-content"
                method="post"
                enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input class="button" type="submit" value="{% trans '保存' %}">
          </form>
          {{ form.media }}
        </details>
        {% if collection %}
          <hr>
          <details open>
            <summary>条目</summary>
            <div id="collection_items"
                 hx-get="{% url 'journal:collection_retrieve_items' collection.uuid %}?edit=1"
                 hx-trigger="load"></div>
          </details>
        {% endif %}
      </div>
      {% include "_sidebar.html" with show_profile=1 fold_profile=1 identity=collection.owner|default:request.user.identity %}
    </main>
    {% include "_footer.html" %}
  </body>
</html>
