{% if liked %}
  <a class="activated"
     {% if request.user.is_authenticated %} hx-post="{% url 'journal:unlike' piece.uuid %}?stats=1&amp;icon={{ icon }}&amp;label={{ label }}" {% endif %}
     hx-swap="outerHTML"
     hx-target="this"
     title="已喜欢">
    <i class="fa-solid fa-heart"></i>
    <span>{{ piece.like_count }}</span>
  </a>
{% else %}
  <a hx-swap="outerHTML"
     hx-target="this"
     {% if request.user.is_authenticated %} hx-post="{% url 'journal:like' piece.uuid %}?stats=1&amp;icon={{ icon }}&amp;label={{ label }}" {% endif %}
     title="喜欢">
    <i class="fa-regular fa-heart"></i>
    {% if piece.like_count %}<span>{{ piece.like_count }}</span>{% endif %}
  </a>
{% endif %}
