{% load static %}
{% load i18n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load thumb %}
<!DOCTYPE html>
<html lang="zh" class="content-page">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {{ item.title }} - {% trans '标记历史' %}</title>
    {% include "common_libs.html" with jquery=0 v2=1 %}
    <style type="text/css">#id_visibility, #id_visibility li {padding-left:0; margin-bottom:0; display: inline-block !important;}</style>
  </head>
  <body>
    {% include "_header.html" %}
    <main>
      <div>
        <h3>标记历史</h3>
        {% if mark.logs %}
          <article>
            <ul class="log-list">
              {% for log in mark.logs %}
                <li>
                  <form id="mark_log_delete_{{ log.id }}"
                        action="{% url 'journal:mark_log' item.uuid log.id %}"
                        method="post">
                    {% csrf_token %}
                    <span class="log-info">{{ log.timestamp|date }}</span>
                    <span class="log-info">{{ log.action_label }}</span>
                    <input type="hidden" name="delete" value="1">
                    <input type="hidden" name="log_id" id="{{ log.id }}">
                    {% if editing %}
                      <a href="javascript:$('#mark_log_delete_{{ log.id }}').submit()"
                         class="delete">
                        <i class="fa-solid fa-square-xmark"></i>
                      </a>
                    {% endif %}
                  </form>
                </li>
              {% endfor %}
            </ul>
            <footer class="log-command">
              <span class="action">
                {% if not editing %}
                  <a href="{% url 'journal:mark_history_edit' item.uuid %}">{% trans '编辑' %}</a>
                {% endif %}
              </span>
              <span class="action">
                <form id="mark_delete"
                      action="{% url 'journal:mark' mark.item.uuid %}"
                      method="post">
                  {% csrf_token %}
                  <input type="hidden" name="delete" value="1">
                  <input type="hidden" name="silence" value="True">
                  <a href="#" onclick="deleteAllLog(event)">清空标记历史</a>
                </form>
              </span>
            </footer>
          </article>
        {% endif %}
        <br>
        <a href="{% url 'catalog:retrieve' item.url_path item.uuid %}">返回条目</a>
      </div>
      <aside>
        {% include "_sidebar_item.html" with item=item %}
      </aside>
    </main>
    <script>
          $(".spoiler").on('click', function(){
            $(this).toggleClass('revealed');
          })
    </script>
    <script>
  function deleteAllLog(event) {
    event.preventDefault(); // Prevent the default link behavior

    const confirmation = confirm('确认清空标记历史？当前标记也会一并删除');
    if (confirmation) {
      const form = document.getElementById('mark_delete');
      form.submit(); // Submit the form
    }
  }
    </script>
    {% include "_footer.html" %}
  </body>
</html>
