{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load thumb %}
<dialog open
        class="mark-editor"
        _="on close_dialog add .closing then wait for animationend then remove me">
  <article>
    <header>
      <link to="#"
            aria-label="Close"
            class="close"
            _="on click trigger close_dialog" />
      <strong>{% trans 'Note' %} - {{ item.display_title }}</strong>
    </header>
    <div>
      <form action="{% url 'journal:note' item.uuid %}"
            method="post"
            onsubmit="return !!$('#{{ form.content.id_for_label }}').val() || confirm('{% trans "Note with empty content will be deleted, sure to continue?" %}');;">
        {% csrf_token %}
        {{ form.uuid }}
        <div class="grid">
          <div>{{ form.progress_type }}</div>
          <div>{{ form.progress_value }}</div>
        </div>
        {{ form.content }}
        {{ form.title }}
        <div class="grid">
          <div>{{ form.visibility }}</div>
          <div>
            <label for="{{ form.share_to_mastodon.id_for_label }}">
              {{ form.share_to_mastodon }} {{ form.share_to_mastodon.label }}
            </label>
          </div>
        </div>
        <div>
          <input type="submit" class="button float-right" value="{% trans "Save" %}">
        </div>
      </form>
    </div>
  </article>
</dialog>
