{% load static %}
{% load i18n %}
{% load mastodon %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans 'Delete' %}</title>
    {% include "common_libs.html" %}
  </head>
  <body>
    {% include "_header.html" %}
    <main class="container">
      <article>
        <header>
          <b>{{ piece.title }}</b>
          <!-- span class="action">{% if piece.visibility > 0 %}<i class="fa-solid fa-lock"></i>{% endif %}
          - <a href="{{ piece.owner.url }}">{{ piece.owner.display_name }}</a>
          {{ piece.created_time|date }}</span -->
        </header>
        <p>‼️ {% trans 'Are you sure to delete this entire content?' %}</p>
        <p>‼️ {% trans "By deleting it, you will also lose track of others' comments and feedbacks to your content." %}</p>
        <p>‼️ {% trans "Deletion cannot be undone, are you sure to continue?" %}</p>
        <p>
          <br>
        </p>
        <form action="?return_url={{ return_url }}"
              method="post"
              role="group"
              onsubmit="return confirm('{% trans "Deletion cannot be undone, are you sure to continue?" %}')">
          {% csrf_token %}
          <input type="submit" value="{% trans 'Delete' %}" class="contrast">
          <input type="reset"
                 onclick="history.back()"
                 class="secondary outline"
                 value="{% trans 'Cancel' %}">
        </form>
      </article>
    </main>
    {% include "_footer.html" %}
  </body>
</html>
