{% load static %}
{% load i18n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {% trans '确认删除' %}</title>
    {% include "common_libs.html" with jquery=0 v2=1 %}
  </head>
  <body>
    {% include "_header.html" %}
    <main class="container">
      <article>
        <header>
          <h5>{% trans '确认删除' %}</h5>
        </header>
        <div>
          <h6>{{ piece.title }}</h6>
          {% if piece.visibility > 0 %}<i class="fa-solid fa-lock"></i>{% endif %}
          <a href="{% url 'journal:user_profile' piece.owner.mastodon_username %}">{{ piece.owner.username }}</a>
          {{ piece.edited_time }}
        </div>
        <footer>
          <form action="?return_url={{ return_url }}" method="post" role="group">
            {% csrf_token %}
            <input type="submit" value="{% trans '确认' %}">
            <input type="reset"
                   onclick="history.back()"
                   class="secondary"
                   value="{% trans '取消' %}">
          </form>
        </footer>
      </article>
    </main>
    {% include "partial/_footer.html" %}
  </body>
</html>
