{% load static %}
{% load i18n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load thumb %}
<!DOCTYPE html>
<html lang="zh" class="classic-page">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if identity.user == request.user %}
      <title>{{ site_name }} - {% trans '我的个人主页' %}</title>
    {% else %}
      <title>{{ site_name }} - {{ identity.display_name }}</title>
    {% endif %}
    <meta property="og:title"
          content="{{ identity.handler }} - {{ site_name }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{{ identity.avatar }}">
    <meta property="og:site_name" content="{{ site_name }}">
    {% if identity.preference.no_anonymous_view %}<meta name="robots" content="noindex">{% endif %}
    <link rel="alternate"
          type="application/rss+xml"
          title="{{ site_name }} - {{ identity.handler }}的评论"
          href="{{ request.build_absolute_uri }}feed/reviews/">
    {% include "common_libs.html" with jquery=0 v2=1 %}
    <script src="{% static 'js/calendar_yearview_blocks.js' %}?xxxxdd" defer></script>
    <link href="{% static 'css/calendar_yearview_blocks.css' %}"
          media="all"
          rel="stylesheet" />
  </head>
  <body>
    {% if request.user == identity.user %}
      {% include "_header.html" with current="home" %}
    {% else %}
      {% include "_header.html" %}
    {% endif %}
    <main>
      <div class="grid__main">
        <div class="sortable">
          {% if request.user.is_authenticated %}
            <section class="entity-sort shelf" id="calendar_grid">
              <h5>书影音日历</h5>
              <div class="calendar_view cards">
                <p style="text-align: center;">
                  <i class="fa-solid fa-compact-disc fa-spin loading"></i>
                </p>
              </div>
              <span class="calendar_data"
                    hx-get="{% url 'journal:user_calendar_data' identity.handler %}"
                    hx-trigger="load"
                    hx-swap="innerHTML"
                    style="display:none"></span>
            </section>
          {% endif %}
          {% for category, category_shelves in shelf_list.items %}
            {% for shelf_type, shelf in category_shelves.items %}
              <section class="entity-sort shelf"
                       id="{{ category }}_{{ shelf_type }}"
                       {% if not shelf.count %}style="display:none;"{% endif %}>
                <h5>
                  {{ shelf.title }}
                  <small>
                    <a href="{% if shelf_type == 'reviewed' %}{% url 'journal:user_review_list' identity.handler category %}{% else %}{% url 'journal:user_mark_list' identity.handler shelf_type category %}{% endif %}">{{ shelf.count }}</a>
                  </small>
                </h5>
                <ul class="cards">
                  {% for member in shelf.members %}
                    <li class="card">
                      <a href="{% if shelf_type == 'reviewed' %}{{ member.url }}{% else %}{{ member.item.url }}{% endif %}"
                         title="{{ member.item.title }}">
                        <img src="{{ member.item.cover|thumb:'normal' }}"
                             alt="{{ member.item.title }}"
                             loading="lazy">
                        <div>{{ member.item.title }}</div>
                      </a>
                    </li>
                  {% empty %}
                    <div>暂无记录</div>
                  {% endfor %}
                </ul>
              </section>
            {% endfor %}
          {% endfor %}
          <section class="entity-sort shelf"
                   id="collection_created"
                   {% if not collections_count %}style="display:none;"{% endif %}>
            <h5>
              {% trans '创建的收藏单' %}
              <small>
                <a href="{% url 'journal:user_collection_list' identity.handler %}">{{ collections_count }}</a>
                {% if identity.user == request.user %}
                  <a href="{% url 'journal:collection_create' %}">
                    <i class="fa-regular fa-square-plus"></i>
                  </a>
                {% endif %}
              </small>
            </h5>
            <ul class="cards">
              {% for collection in collections %}
                <li class="card">
                  <a href="{{ collection.url }}" title="{{ collection.title }}">
                    <img src="{{ collection.cover|thumb:'normal' }}"
                         alt="{{ collection.title }}">
                    <div>{{ collection.title }}</div>
                  </a>
                </li>
              {% empty %}
                <div>暂无记录</div>
              {% endfor %}
            </ul>
          </section>
          <section class="entity-sort shelf"
                   id="collection_marked"
                   {% if not liked_collections_count %}style="display:none;"{% endif %}>
            <h5>
              {% trans '关注的收藏单' %}
              <small>
                <a href="{% url 'journal:user_liked_collection_list' identity.handler %}">{{ liked_collections_count }}</a>
              </small>
            </h5>
            <ul class="cards">
              {% for collection in liked_collections %}
                <li class="card">
                  <a href="{{ collection.url }}" title="{{ collection.title }}">
                    <img src="{{ collection.cover|thumb:'normal' }}"
                         alt="{{ collection.title }}"
                         loading="lazy">
                    <div>{{ collection.title }}</div>
                  </a>
                </li>
              {% empty %}
                <div>暂无记录</div>
              {% endfor %}
            </ul>
          </section>
        </div>
        {% if identity.user == request.user %}
          <div class="entity-sort-control">
            <div class="entity-sort-control__button" id="sortEditButton">
              <span class="entity-sort-control__text" id="sortEditText">{% trans '编辑布局' %}</span>
              <span class="entity-sort-control__text"
                    id="sortSaveText"
                    style="display: none">{% trans '保存' %}</span>
              <span class="icon-edit" id="sortEditIcon">
                <i class="fa-solid fa-pencil"></i>
              </span>
              <span class="icon-save" id="sortSaveIcon" style="display: none;">
                <i class="fa-regular fa-floppy-disk"></i>
              </span>
            </div>
            <div class="entity-sort-control__button"
                 id="sortExitButton"
                 style="display: none">
              <span class="entity-sort-control__text">{% trans '取消' %}</span>
            </div>
          </div>
          <div class="entity-sort-control__button entity-sort-control__button--float-right"
               id="toggleDisplayButtonTemplate"
               style="display: none">
            <span class="showText" style="display: none;">{% trans '显示' %}</span>
            <span class="hideText" style="display: none;">{% trans '隐藏' %}</span>
          </div>
          <form action="{% url 'users:set_layout' %}" method="post" id="sortForm">
            {% csrf_token %}
            <input type="hidden" name="name" value="profile">
            <input type="hidden" name="layout">
          </form>
          <script src="https://cdn.staticfile.org/html5sortable/0.13.3/html5sortable.min.js"
                  crossorigin="anonymous"></script>
          <script src="{% static 'js/sort_layout.js' %}"></script>
        {% endif %}
        {{ layout|json_script:"layout-data" }}
        <script>
        const initialLayoutData = JSON.parse(document.getElementById('layout-data').textContent);
        initialLayoutData.forEach(elem => {
          $('#' + elem.id).data('visibility', elem.visibility);
          if (!elem.visibility) {
            $('#' + elem.id).hide();
          }
          $('#' + elem.id).appendTo('.sortable');
        });
        </script>
      </div>
      {% include "_sidebar.html" with show_progress=1 show_profile=1 %}
    </main>
    {% include "_footer.html" %}
    {% if identity.user and identity.user.mastodon_account %}
      <a href="{{ identity.user.mastodon_account.url }}"
         rel="me"
         style="display:none">Mastodon verification</a>
    {% endif %}
  </body>
</html>
