{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load duration %}
{% load thumb %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="classic-page nav-page-search">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {{ request.GET.q }} - {% trans 'Search Results' %}</title>
    {% include "common_libs.html" %}
  </head>
  <body>
    {% include '_header.html' %}
    <main>
      <div class="grid__main">
        {% include 'search_header.html' %}
        <div class="item-card-list">
          {% for item in items %}
            {% include '_list_item.html' %}
          {% empty %}
            <p class="empty">{% trans "No items matching your search query." %}</p>
          {% endfor %}
        </div>
      </div>
      {% include "_pagination.html" %}
      {% block sidebar %}
        <aside class="grid__aside bottom">
          <p>
            {% trans 'Addtional filters may be added to query:' %}
            <li>
              <code>status:complete</code> - {% trans 'filter by status, one of wishlist/progress/complete/dropped' %}
            </li>
            <li>
              <code>rating:6..8</code> - {% trans 'filter by rating range' %}
            </li>
            <li>
              <code>rating:0</code> - {% trans 'filter unrated' %}
            </li>
            <li>
              <code>tag:scifi</code> - {% trans 'filter by tag' %}
            </li>
            <li>
              <code>category:tv</code> - {% trans 'filter by category, one of movie/tv/book/music/game/performance/podcast' %}
            </li>
            <li>
              <code>type:note</code> - {% trans 'filter by type, one of mark/comment/review/collection/note' %}
            </li>
            <li>
              <code>date:2021-9-11</code> - {% trans 'filter by date' %}
            </li>
            <li>
              <code>date:2022-2</code> - {% trans 'filter by month' %}
            </li>
            <li>
              <code>date:2022..2023</code> - {% trans 'filter by date range' %}
            </li>
          </p>
        </aside>
      {% endblock %}
    </main>
    {% include '_footer.html' %}
  </body>
</html>
