{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load thumb %}
<div id="modal"
     _="on closeModal add .closing then wait for animationend then remove me">
  <div class="modal-underlay" _="on click trigger closeModal"></div>
  <div class="modal-content">
    <div class="add-to-list-modal__head">
      <span class="add-to-list-modal__title">{% trans 'Tag' %} - {{ item.title }} - {% trans 'Edit' %}</span>
      <span class="add-to-list-modal__close-button modal-close"
            _="on click trigger closeModal">
        <i class="fa-solid fa-xmark"></i>
      </span>
    </div>
    <div class="add-to-list-modal__body">
      <form action="{% url 'journal:user_tag_edit' %}?tag={{ tag.title }}"
            method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ tag.id }}">
        <div class="mark-modal__tag">
          <div class="tag-input">
            <input name="title" type="text" value="{{ tag.title }}" required>
          </div>
        </div>
        <div class="mark-modal__option">
          <div class="mark-modal__visibility-radio">
            <span>{% trans "Visibility" %}
              <ul id="id_visibility">
                <li>
                  <label for="id_visibility_0">
                    <input type="radio"
                           name="visibility"
                           value="0"
                           required=""
                           id="id_visibility_0"
                           {% if tag.visibility == 0 %}checked{% endif %}>
                    {% trans "Public" %}
                  </label>
                </li>
                <li>
                  <label for="id_visibility_2">
                    <input type="radio"
                           name="visibility"
                           value="2"
                           required=""
                           id="id_visibility_2"
                           {% if tag.visibility != 0 %}checked{% endif %}>
                    {% trans "Personal" %}
                  </label>
                </li>
              </ul>
            </span>
          </div>
          <i>{% trans "Personal tags are not shown to others when they view your tag list. However, if you use this tag when marking an item publicly, it might still be visible to others." %}</i>
        </div>
        <div class="mark-modal__confirm-button">
          <input type="submit" class="button float-right" value="{% trans "Save" %}">
        </div>
        <div class="mark-modal__option">
          <div class="mark-modal__visibility-radio">
            <span>
              <label for="_delete">
                <input type="checkbox" name="delete" value="1" id="_delete">
                {% trans "Delete this tag" %}
              </label>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
