{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mastodon %}
{% load thumb %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="classic-page">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_name }} - {{ identity.display_name }} - {% trans "Tags" %}</title>
    {% include "common_libs.html" %}
  </head>
  <body>
    {% include "_header.html" %}
    <main>
      <div class="grid__main">
        <h5>{% trans 'All Tags' %}</h5>
        <div class="tag-list">
          {% for v in tags %}
            <span style="margin-right:2em; white-space: nowrap;">
              <span>
                <a href="{% url 'journal:user_tag_member_list' identity.handle v.title %}">
                  {% if v.pinned %}
                    <i class="fa-solid fa-crown" title="{% trans "featured tag" %}"></i>
                  {% endif %}
                  {% if v.visibility > 0 %}
                    <i class="fa-solid fa-user" title="{% trans "personal tag" %}"></i>
                  {% endif %}
                  {{ v.title }}
                </a>
              </span>
              <span>({{ v.total }})</span>
            </span>
          {% empty %}
            {% trans 'no tags so far.' %}
          {% endfor %}
        </div>
      </div>
      {% include "_sidebar.html" with show_profile=1 %}
    </main>
    {% include "_footer.html" %}
  </body>
</html>
