{% extends "user_item_list_base.html" %}
{% load i18n %}
{% block title %}
  <title>{{ site_name }} - {{ user.mastodon_username }} - {{ tag.title }} {% trans '标签' %}</title>
{% endblock %}
{% block head %}
  {{ tag.title }}
  {% if user == request.user %}
    <span class="action inline">
      <span>
        <a hx-get="{% url 'journal:user_tag_edit' %}?tag={{ tag.title }}"
           hx-target="body"
           hx-swap="beforeend"><i class="fa-regular fa-pen-to-square"></i></a>
      </span>
    </span>
  {% endif %}
  <br>
  <small>
    {% if tag.visibility > 0 %}<i class="fa-solid fa-user" title="个人标签"></i>{% endif %}
    {{ user.mastodon_username }}的{% trans '标签' %}
  </small>
{% endblock %}
