{% extends "user_item_list_base.html" %}
{% load i18n %}
{% block title %}
  <title>{{ site_name }} - {{ user.display_name }} - {{ tag.title }} {% trans '标签' %}</title>
{% endblock %}
{% block head %}
  {{ tag.title }}
  <br>
  <small>
    {% if tag.visibility > 0 %}<i class="fa-solid fa-user" title="个人标签"></i>{% endif %}
    {{ user.display_name }}的{% trans '标签' %}
    {% if user == request.user %}
      <form style="display:inline"
            hx-get="{% url 'journal:user_tag_edit' %}"
            hx-target="body"
            hx-swap="beforeend"
            hx-boost="true">
        <input type="hidden" name="tag" value="{{ tag.title }}">
        <button class="outline" style="padding:0 var(--pico-spacing);border:none;">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
      </form>
    {% endif %}
  </small>
{% endblock %}
