{% load static %}
{% load i18n %}
{% load l10n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load thumb %}
{% load prettydate %}
{% load user_actions %}
{% load duration %}
{% wish_item_action activity.action_object.item.parent_item as action %}
<span class="action">
  {% if activity.action_object.item.class_name == 'podcastepisode' %}
    <span>
      <a title="播放节目"
         class="episode"
         data-uuid="{{ activity.action_object.item.uuid }}"
         data-media="{{ activity.action_object.item.media_url }}"
         data-cover="{{ activity.action_object.item.cover_url|default:activity.action_object.item.parent_item.cover.url }}"
         data-title="{{ activity.action_object.item.title }}"
         data-album="{{ activity.action_object.item.parent_item.title }}"
         data-hosts="{{ activity.action_object.item.parent_item.hosts|join:' / ' }}"
         {% if request.user.is_authenticated %} data-comment-href="{% url 'journal:comment' activity.action_object.item.uuid %}" {% endif %}
         data-position="{{ activity.action_object.metadata.position | default:0 }}"><i class="fa-solid fa-circle-play"></i></a>
    </span>
  {% endif %}
  <span>
    <a title="评论节目"
       hx-get="{% url 'journal:comment' activity.action_object.item.uuid %}"
       hx-target="body"
       hx-swap="beforeend"><i class="fa-regular fa-comment"></i></a>
  </span>
  {% if activity.action_object.latest_post %}
    {% include "action_reply_piece.html" with post=activity.action_object.latest_post piece=activity.action_object %}
    {% include "action_like_post.html" with post=activity.action_object.latest_post %}
    {% include "action_boost_post.html" with post=activity.action_object.latest_post %}
    {% include "action_open_post.html" with post=activity.action_object.latest_post %}
  {% endif %}
</span>
<div class="spacing">
  {{ activity.action_object.mark.action_label }}
  <a href="{{ activity.action_object.item_url }}">{{ activity.action_object.item.title }}</a>
  {% if activity.action_object.metadata.position %}
    <span class="muted">{{ activity.action_object.metadata.position|duration_format:1 }}</span>
  {% endif %}
  {% if activity.action_object.mark.rating_grade %}
    {{ activity.action_object.mark.rating_grade | rating_star }}
  {% endif %}
</div>
<article>
  {% if activity.action_object.item.parent_item %}
    {% include "_item_card.html" with item=activity.action_object.item.parent_item allow_embed=1 %}
  {% else %}
    {% include "_item_card.html" with item=activity.action_object.item %}
  {% endif %}
  <footer>
    {% if activity.action_object.mark.comment_text %}<p>{{ activity.action_object.mark.comment_html|safe }}</p>{% endif %}
    <p id="replies_{{ activity.action_object.latest_post.pk }}"></p>
  </footer>
</article>
