{% load static %}
{% load i18n %}
{% load l10n %}
{% load mastodon %}
{% load thumb %}
{% load prettydate %}
{% load user_actions %}
<span class="action">
  {% if activity.action_object.latest_post %}
    {% include "action_reply_piece.html" with post=activity.action_object.latest_post piece=activity.action_object %}
    {% include "action_like_post.html" with post=activity.action_object.latest_post %}
    {% include "action_boost_post.html" with post=activity.action_object.latest_post %}
    {% include "action_open_post.html" with post=activity.action_object.latest_post %}
  {% endif %}
</span>
<div class="spacing">
  {% trans "created collection" %}
  <a href="{{ activity.action_object.url }}">{{ activity.action_object.title }}</a>
</div>
