{% load static %}
{% load i18n %}
{% load l10n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load thumb %}
{% load prettydate %}
{% load user_actions %}
<span class="action">
  <span>
    {% liked_piece activity.action_object as liked %}
    {% include 'like_stats.html' with liked=liked piece=activity.action_object label='关注' icon='fa-heart' %}
  </span>
</span>
<div class="spacing">
  创建了收藏单
  <a href="{{ activity.action_object.url }}">{{ activity.action_object.title }}</a>
</div>
