{% load static %}
{% load i18n %}
{% load l10n %}
{% load mastodon %}
{% load thumb %}
{% load prettydate %}
{% load user_actions %}
{% with activity.action_object.target as collection %}
  <span class="action">
    {% if activity.action_object.latest_post %}
      {% include "action_reply_piece.html" with post=activity.action_object.latest_post piece=activity.action_object %}
      {% include "action_like_post.html" with post=activity.action_object.latest_post %}
      {% include "action_boost_post.html" with post=activity.action_object.latest_post %}
      {% include "action_open_post.html" with post=activity.action_object.latest_post %}
    {% endif %}
  </span>
  <div class="spacing">
    {% trans "set a target" %}
    <a href="{{ collection.url }}">{{ collection.title }}</a>
  </div>
  <p>
    <progress value="{{ activity.action_object.progress }}" max="100"></progress>
  </p>
{% endwith %}
