{% load static %}
{% load i18n %}
{% load l10n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load thumb %}
{% load prettydate %}
{% load user_actions %}

{% like_piece_action activity.action_object.target as action %}
<div class="entity-list__entity-img-wrapper">
  <a href="{{ activity.action_object.target.url }}">
    <img src="{{ activity.action_object.target.cover|thumb:'normal' }}" alt="" class="entity-list__entity-img" style="min-width:80px;max-width:80px">
  </a>
  {% if not action.taken %}
  <a class="entity-list__entity-action-icon" hx-post="{{ action.url }}">➕</a>
  {% endif %}
</div>
<div class="entity-list__entity-text">
  <div class="action-bar">
    <span>
      {% if activity.action_object.metadata.shared_link %}
      <a href="{{ activity.action_object.metadata.shared_link }}" target="_blank" title="打开联邦网络分享链接">
        <i class="fa-solid fa-circle-nodes icon-spin"></i>
        <span>{{ activity.action_object.created_time|prettydate }}</span>
      </a>
      {% else %}
      <span>{{ activity.action_object.created_time|prettydate }}</span>
      {% endif %}
    </span>
  </div>
  <span class="entity-list__entity-info" style="top:0px;">
    <a href="{% url 'journal:user_profile' activity.owner.mastodon_username %}">{{ activity.owner.display_name }}</a> 关注了
    <a href="{% url 'journal:user_profile' activity.action_object.target.owner.mastodon_username %}">{{ activity.action_object.target.owner.display_name }}</a>
    的收藏单
  </span>
  <div class="entity-list__entity-title">
    <a href="{{ activity.action_object.target.url }}" class="entity-list__entity-link" style="font-weight:bold;">{{ activity.action_object.target.title }}
      {% if activity.action_object.target.year %}<small style="font-weight: lighter">({{ activity.action_object.target.year }})</small>{% endif %}
    </a>
  </div>
  <p class="entity-list__entity-brief">
  </p>
</div>
