{% load static %}
{% load i18n %}
{% load l10n %}
{% load admin_url %}
{% load mastodon %}
{% load oauth_token %}
{% load truncate %}
{% load thumb %}
{% load prettydate %}
{% load user_actions %}
{% with activity.action_object.target as collection %}
  <span class="action">
    <span>
      {% liked_piece collection as liked %}
      {% include 'like_stats.html' with liked=liked piece=collection label='关注' icon='fa-heart' %}
    </span>
  </span>
  <div class="spacing">
    关注了
    <a href="{{ collection.owner.url }}">{{ collection.owner.display_name }}</a>
    的收藏单
    <a href="{{ collection.url }}">{{ collection.title }}</a>
  </div>
{% endwith %}
