{% load static %}
{% load i18n %}
{% load l10n %}
{% load mastodon %}
{% load thumb %}
{% load prettydate %}
{% load user_actions %}
{% load duration %}
{% wish_item_action activity.action_object.item as action %}
<span class="action">
  <span>
    {% if not action.taken %}
      <a title="{% trans "mark" %}"
         hx-get="{% url 'journal:mark' activity.action_object.item.uuid %}?shelf_type=wishlist"
         hx-target="body"
         hx-swap="beforeend">
        <i class="fa-regular fa-bookmark"></i>
      </a>
    {% else %}
      <a title="{% trans "mark" %}"
         hx-get="{% url 'journal:mark' activity.action_object.item.uuid %}"
         hx-target="body"
         hx-swap="beforeend">
        <i class="fa-solid fa-bookmark"></i>
      </a>
    {% endif %}
  </span>
  {% if activity.action_object.latest_post %}
    {% include "action_reply_piece.html" with post=activity.action_object.latest_post piece=activity.action_object %}
    {% include "action_like_post.html" with post=activity.action_object.latest_post %}
    {% include "action_boost_post.html" with post=activity.action_object.latest_post %}
    {% include "action_open_post.html" with post=activity.action_object.latest_post %}
  {% endif %}
</span>
<div class="spacing">
  {{ activity.action_object.mark.action_label_for_feed }}
  {% comment %} {{ activity.action_object.item.title }} {% endcomment %}
  {% if activity.action_object.mark.rating_grade %}
    {{ activity.action_object.mark.rating_grade | rating_star }}
  {% endif %}
</div>
<article>
  {% include "_item_card.html" with item=activity.action_object.item allow_embed=1 %}
  <footer>
    {% if activity.action_object.mark.comment_text %}<p>{{ activity.action_object.mark.comment_html|safe }}</p>{% endif %}
    <p id="replies_{{ activity.action_object.latest_post.pk }}"></p>
  </footer>
</article>
